In [1]:
import pandas as pd

data = {
    'Age': [18, 21, 21, 57, 27, 37, 39, 68, 54, 41, 24, 42, 42, 30, 19, 56, 57, 41, 64, 42, 35, 55, 43, 31, 26, 27, 38, 69, 34, 69, 23, 33, 65, 18, 36, 53, 42, 67, 69, 47, 37, 37, 32, 57, 50, 19, 27, 50, 49, 25, 70, 41, 53, 29, 68, 46, 58, 18, 18, 54, 23, 56, 58, 70, 35, 33, 22, 59, 60, 49, 19, 19, 57, 59, 53, 56, 29, 64, 36, 45, 18, 32, 53, 30, 60, 38, 29, 22, 24, 22, 65, 70, 21, 30, 54, 70, 58, 32, 67, 56],
    'Gender': ['Male', 'others', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female', 'others', 'Male', 'Female', 'others', 'Male', 'others', 'Male', 'others', 'others', 'Female', 'Male', 'Female', 'Female', 'Male', 'others', 'Male', 'others', 'Male', 'Female', 'Male', 'Male', 'others', 'Male', 'Male', 'Male', 'Female', 'Male', 'others', 'Female', 'others', 'Female', 'Male', 'others', 'others', 'Male', 'others', 'Male', 'Male', 'others', 'Male', 'others', 'others', 'female', 'Male', 'Male', 'Male', 'Female', 'others', 'Male', 'Male', 'Female', 'Male', 'others', 'Female', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'others', 'Female', 'Male', 'Male', 'Female', 'others', 'Female', 'Female', 'Female', 'Male','Male', 'others', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female', 'others', 'Male', 'Female', 'others', 'Male', 'others','male'],
    'Education': ["High School", "Other", "Ph.D.", "Ph.D.", "Bachelor's Degree", "High School", "High School", "Bachelor's Degree", "Master's Degree", "High School", "Ph.D.", "Bachelor's Degree", "Bachelor's Degree", "Other", "High School", "High School", "Ph.D.", "Master's Degree", "Ph.D.", "Master's Degree", "Other", "Ph.D.", "Ph.D.", "High School", "Ph.D.", "High School", "Other", "Master's Degree", "Ph.D.", "Other", "High School", "Master's Degree", "Ph.D.", "Ph.D.", "Bachelor's Degree", "Ph.D.", "Other", "Ph.D.", "Ph.D.", "Bachelor's Degree", "Bachelor's Degree", "Bachelor's Degree", "Ph.D.", "Master's Degree", "Master's Degree", "Other", "Ph.D.", "Bachelor's Degree", "Master's Degree", "Ph.D.", "Bachelor's Degree", "Other", "Master's Degree", "Master's Degree", "High School", "Bachelor's Degree", "High School", "Other", "High School", "Ph.D.", "Master's Degree", "High School", "High School", "Bachelor's Degree", "Bachelor's Degree", "High School", "Ph.D.", "High School", "Ph.D.", "High School", "Other", "Other", "High School", "Bachelor's Degree", "Ph.D.", "Other", "Ph.D.", "Master's Degree", "Bachelor's Degree", "Bachelor's Degree", "Master's Degree", "Bachelor's Degree", "Other", "Master's Degree", "Other", "Other", "Master's Degree", "Ph.D.", "Ph.D.", "Bachelor's Degree", "Master's Degree", "Other", "Ph.D.", "Ph.D.", "Bachelor's Degree", "Bachelor's Degree", "Bachelor's Degree", "Bachelor's Degree", "Master's Degree", "High School"],
    "Credit_Score": [ 363, 754, 565, 744, 719, 639, 574, 669, 526, 525, 528, 754,669, 428, 324, 592, 655, 434, 303, 526, 744, 717, 584, 326, 548, 665, 501, 737, 497, 372, 546, 435, 513, 775, 623, 402, 627, 523, 556, 647, 407, 819, 449, 776, 692, 300, 660, 850, 389, 374, 799, 643, 396, 582, 332, 415, 754, 728, 473, 432, 741, 393, 647, 701, 719, 704, 485, 675, 816, 797, 798, 505, 714, 665, 719, 518, 838, 674, 322, 760, 654, 351, 744, 404, 694, 627, 818, 545, 714, 827, 469, 609, 691, 520, 414, 634, 519, 546, 400, 715],
    "Account_Balance":[75997, 40444, 90286, 90717, 73330, 20129, 37644, 85728, 42729, 41808, 87496, 95219, 2173, 86640, 6874, 83099, 90808, 89208, 61761, 84416, 2757,40444, 12120, 23842, 69583, 83971, 52462, 73381, 43864, 65094, 73364, 91014, 21107, 4930, 49756, 57308, 90981, 85371, 20165, 78957, 100, 53942, 74573, 6037, 54779, 25247, 52817, 24813, 48371, 47354, 96648, 56062, 81941, 22957, 38870, 90512, 29849, 68727, 42661, 40831, 39308, 3418, 74314, 31739, 54198, 41790, 96455, 85125, 21674, 71818, 1337, 36315, 13657, 82307, 5245, 27342, 3922, 1221, 46778, 1924, 56337, 8901, 41407, 49502, 74392, 20099, 94533, 74152, 37028, 3511, 76440, 66209, 34706, 45518, 25329, 72839, 29419, 97268, 43647, 31649],
    "Transaction_Frequency":[81, 29, 12, 46, 32, 34, 87, 25, 46, 52, 64, 76, 73, 18, 4, 7, 3, 48, 76, 37, 48, 82, 51, 49, 71, 90, 49, 29, 3, 74, 84, 65, 20, 80, 42, 28, 26, 87, 52, 48, 66, 9, 2, 89, 90, 68, 10, 12, 97, 37, 39, 32, 33, 26, 99, 89, 50, 88, 82, 20, 94, 28, 72, 18, 25, 24, 39, 28, 24, 18, 67, 44, 83, 45, 54, 0, 10, 67, 6, 91, 99, 57, 70, 19, 34, 50, 20, 43, 0, 66, 97, 12, 15, 33, 23, 12, 5, 38, 1, 10],
    'Credit_Utilization': [6, 6,5, 6, 6, 2, 5, 2, 2, 3, 2, 9, 3, 8, 5, 4, 5, 1, 5, 8, 2, 9, 5, 6, 4, 0, 8, 5, 5, 5, 1, 0, 0, 0, 0, 0, 7, 6, 3, 5, 4, 3, 4, 5, 1, 3, 6, 7, 4, 0, 0, 7, 3, 3, 0, 0, 9, 4, 4, 5, 8, 8, 0, 1, 5, 9, 9, 6, 1, 4, 0, 4, 7, 7, 7, 6, 2, 6, 0, 2, 7, 7, 2, 6, 1, 3, 7, 0, 5, 4, 5, 5, 3, 8, 0, 1, 5, 4, 1, 5],
    'Loan_Amount': [24528, 53478, 45560, 71592, 68246, 85022, 14591, 23059, 42756, 72554, 84554, 32891, 31958, 39228, 60133, 95482, 18013, 29353, 71208, 59580, 9425, 29363, 34088, 9694, 40542, 44709, 53630, 97552, 7011, 56487, 40605, 57852, 19521, 16151, 34176, 99415, 21871, 92607, 27034, 53977, 79193, 47320, 50679, 59855, 91237, 83241, 59281, 36720, 83054, 52677, 2963, 88815, 46870, 60781, 40843, 15265, 24455, 26743, 69914, 25136, 76999, 45295, 84662, 69988, 91986, 72279, 71166, 51714, 44296, 26885, 72614, 8804, 86465, 98875, 20132, 50053, 44707, 22616, 81841, 38607, 97620, 22898, 9481, 40068, 64433, 85016, 75358, 53123, 20045, 1291, 57741, 35300, 34897, 25754, 12230, 50863, 30306, 62997, 12180, 5802],
    'Savings': [8058, 51641, 17553, 29285, 20441, 27892, 39381, 49335, 15972, 27844, 4207, 54498, 51979, 45026, 6241, 18670, 31123,51641, 16240, 21515, 39905, 46617,4207, 37985, 5471, 51501, 51974, 14937, 12120, 27117, 2598, 36915, 42000, 57239, 54019, 34650, 45486, 7802, 54685, 29442, 645, 54649, 4039, 56079, 23374, 9635, 21863, 49014, 22791, 43699, 11622, 761, 9139, 20381, 37559, 33393, 41355, 59843, 12154, 36151, 2555, 15612, 53752, 30532, 14707, 32214, 5305, 31069, 39526, 13195, 48846, 7762, 36076, 28675, 32933, 34183, 50973, 42062, 11209, 49675, 31504, 7228, 57447, 46783, 33467, 22657, 14226, 11957, 13596, 16832, 11992, 30281, 48008, 24530, 3467, 10716, 22901, 47027, 29111, 3087],
    'Income': [151203, 79864, 134901, 114010, 21614, 186767, 57708, 86827, 148779, 24845, 41922, 148897, 135344, 129825, 96304, 192840, 46952, 86666, 184435, 90386, 106935,134704, 61622, 174688, 141615, 63827, 85017, 195500, 156202, 74772, 61808, 113254, 87267, 70512, 107360, 62113, 46418, 100736, 24562, 159961, 105398, 60719, 160175, 88935, 99131, 34552, 155481, 194296, 116204, 38701, 157106, 93678, 75060, 25703, 50391, 113484, 50955, 42572, 27951, 128541, 103543, 91627, 54381, 61470, 158653, 107647, 114318, 101618, 60580, 148705, 90577, 134233, 126192, 158281, 29690, 136464, 59855, 150068, 21344, 167692, 49334, 58986, 168642, 81096, 125126, 107701, 192405, 64192, 111519, 68428, 174361, 199047, 23995, 197915, 22352, 74655, 38058, 197476, 174371, 142469]
}


df = pd.DataFrame(data)
print(df)
#num_items = df.shape[11]
#print("Number of items in the data:", num_items)

    Age  Gender          Education  Credit_Score  Account_Balance  \
0    18    Male        High School           363            75997
1    21  others              Other           754            40444
2    21  Female              Ph.D.           565            90286
3    57  Female              Ph.D.           744            90717
4    27  Female  Bachelor's Degree           719            73330
..  ...     ...                ...           ...              ...
95   70  Female  Bachelor's Degree           634            72839
96   58  others  Bachelor's Degree           519            29419
97   32    Male  Bachelor's Degree           546            97268
98   67  others    Master's Degree           400            43647
99   56    male        High School           715            31649

    Transaction_Frequency  Credit_Utilization  Loan_Amount  Savings  Income
0                      81                   6        24528     8058  151203
1                      29                   6        53478    51641   79864
2                      12                   5        45560    17553  134901
3                      46                   6        71592    29285  114010
4                      32                   6        68246    20441   21614
..                    ...                 ...          ...      ...     ...
95                     12                   1        50863    10716   74655
96                      5                   5        30306    22901   38058
97                     38                   4        62997    47027  197476
98                      1                   1        12180    29111  174371
99                     10                   5         5802     3087  142469

[100 rows x 10 columns]

In [ ]:
import pandas as pd

dataset = {
    'S.No': pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]),
    'Issue Name': pd.Series(["sai", "hara", "shalem", "raju", "shalem raju", "toff", "shiva", "harish", "manju", "chittu", "sekhar", "beliver"]),
    'Title': pd.Series(["OG", "A", "ai", "gym", "editor", "speaker", "member", "cr", "ecell", "unkown", "member", "trainer"]),
    'Check In Date': pd.Series(["18-Jan-23", "10-Jan-23", "21-Jan-23", "21-Jan-23", "20-Jan-23", "25-Jan-23", "24-Jan-23", "25-Jan-23", "24-Jan-23", "28-Jan-23", "25-Jan-23", "24-Jan-23"]),
    'Check out Date': pd.Series(["01-Jun-23", "03-Jun-23", "03-Jun-23", "05-Jun-23", "05-Jul-23", "06-Jun-23", "07-Jul-23", "07-Jul-23", "08-Jun-23", "09-Jun-23", "10-Aug-23", "11-Jul-23"]),
    'Due Date': pd.Series(["16-Jul-23", "1-Jul-23", "18-Jul-23", "20-Jul-23", "20-Jul-23", "21-Jul-23", "22-Jul-23", "22-Jul-23", "23-Jul-23", "24-Jul-23", "24-Jul-23", "24-Jul-23"]),
    'No.of Days': pd.Series([15, 24, 35, 23, 15, 30, 35, 15, 20, 30, 35, 15]),
    'Outstanding Days': pd.Series([18, 16, 19, 10, 18, 17, 15, 18, 16, 15, 19, 17]),
    'Extra Days': pd.Series([0, 4, 2, 3, 2, 0, 3, 1, 1, 3, 1, 4]),
    'status': pd.Series(["yes", "No Fine", "yes", "yes", "No Fine", "yes", "yes", "yes", "yes", "yes", "yes", "yes"])
}

df = pd.DataFrame(dataset)
print(df)

In [ ]:
import pandas as pd

ds = {
    'sno': pd.Series([1,2,3,4,5,6,7,8,9,10]),
    'Roll_number': pd.Series([101,102,103,104,105,106,107,108,109,110]),
    'Name': pd.Series(["sai", "hara", "shalem", "raju", "shalem raju", "toff", "shiva", "harish", "manju", "chittu"]),
    'Marks': pd.Series([89,87,76,65,57,84,35,56,64,33]),
    'Results': pd.Series(["pass","pass","pass","pass","pass","pass","fail","pass","pass","fail"]),
    'Hobbies': pd.Series(["playing games","listening music","dancing","watching tv","reading books","sleeping","dancing",
                         "writing stories","singing","reading newspaper"]),
}

df = pd.DataFrame(ds)
print(df)

In [ ]:
sc=df.copy(deep=False)
print(sc)

In [ ]:
dc=df.copy(deep=True)
print(dc)

In [ ]:
print(sc.size)#print(dc.size)
print("*********************************************************************************")
print(sc.shape)#print(dc.shape)
print("*********************************************************************************")
print(sc.info())#print(dc.info())
print("*********************************************************************************")
print(df.info())
print("*********************************************************************************")
print(sc.index)#print(dc.index)#print(df.index)
print("*********************************************************************************")
print(sc.ndim)
print("*********************************************************************************")
print(sc.memory_usage())#print(dc.memory_usage())#print(df.memory_usage())

In [ ]:
df['online']=pd.Series(["yes","yes","yes","yes","yes","yes","yes","yes","yes""yes"])
print(df)

In [ ]:
print(df['Roll_number'])
print(df)
del df["sno"]
print(df)

In [ ]:
df.pop('online')
print(df)

In [ ]:
import pandas as pd
import numpy as np
np.random.seed(0)
num_samples = 100
names = ["Alice", "Bob", "Charlie", "David", "Eva", "Frank", "Grace", "Hank", "Ivy", "Jack"]
name_of_customer_data = np.random.choice(names, size=num_samples)
min_age = 18
max_age = 90
age_data = np.random.randint(min_age, max_age + 1, size=num_samples)
gender_choices = ["Male", "Female", "Non-Binary"]
gender_data = np.random.choice(gender_choices, size=num_samples)
education_choices = ["High School", "Bachelor's Degree", "Master's Degree", "Ph.D.", "Other"]
education_data = np.random.choice(education_choices, size=num_samples)
min_credit_score = 300
max_credit_score = 850
credit_score_data = np.random.randint(min_credit_score, max_credit_score + 1, size=num_samples)

min_balance = 0
max_balance = 100000
account_balance_data = np.random.randint(min_balance, max_balance, size=num_samples)
min_frequency = 0
max_frequency = 100
transaction_frequency_data = np.random.randint(min_frequency, max_frequency, size=num_samples)

min_utilization = 0
max_utilization = 10
credit_utilization_data = np.random.randint(min_utilization, max_utilization, size=num_samples)

min_loan_amount = 0
max_loan_amount = 100000
loan_amount_data = np.random.uniform(min_loan_amount, max_loan_amount, size=num_samples)


min_savings = 0
max_savings = 50000
savings_data = np.random.uniform(min_savings, max_savings, size=num_samples)


min_income = 20000
max_income = 200000
income_data = np.random.uniform(min_income, max_income, size=num_samples)


feature_names = [
    "Name_of_Customer",
    "Age",
    "Gender",
    "Education",
    "Credit_Score",
    "Account_Balance",
    "Transaction_Frequency",
    "Credit_Utilization",
    "Loan_Amount",
    "Savings",
    "Income"
]

data = {

    "Age": age_data,
    "Gender": gender_data,
    "Education": education_data,
    "Credit_Score": credit_score_data,
   "Account_Balance": account_balance_data,
    "Transaction_Frequency": transaction_frequency_data,
    "Credit_Utilization": credit_utilization_data,
    "Loan_Amount": loan_amount_data,
    "Savings": savings_data,
    "Income": income_data

}

df = pd.DataFrame(data)
print(df.iloc[0:60])
#print(df.iloc[60:100])

    Age      Gender          Education  Credit_Score  Account_Balance  \
0    66      Female        High School           363            75997
1    21      Female              Ph.D.           754            40444
2    60      Female              Other           565            90286
3    39      Female              Other           744            90717
4    18  Non-Binary  Bachelor's Degree           719            73330
5    28  Non-Binary        High School           639            20129
6    61  Non-Binary    Master's Degree           574            37644
7    76        Male              Other           669            85728
8    41      Female              Other           526            42729
9    77  Non-Binary    Master's Degree           525            41808
10   20      Female              Other           528            87496
11   80      Female              Ph.D.           669            95219
12   53      Female    Master's Degree           428             2173
13   85      Female              Ph.D.           324            74890
14   64        Male        High School           592            86640
15   38  Non-Binary        High School           655             6874
16   68  Non-Binary        High School           434            83099
17   45        Male              Ph.D.           303            90808
18   32      Female              Other           526            89208
19   59      Female              Other           744            61761
20   76        Male    Master's Degree           717            84416
21   83        Male    Master's Degree           584             2757
22   54        Male              Other           326            12120
23   28  Non-Binary  Bachelor's Degree           548            23842
24   61      Female              Ph.D.           665            69583
25   29  Non-Binary              Ph.D.           501            83971
26   20      Female              Ph.D.           737            52462
27   69  Non-Binary  Bachelor's Degree           497            73381
28   50        Male    Master's Degree           372            43864
29   72  Non-Binary    Master's Degree           546            65094
30   18        Male              Ph.D.           435            73364
31   56      Female    Master's Degree           513            91014
32   37      Female              Ph.D.           775            21107
33   64      Female              Other           623             4930
34   60        Male              Other           402            49756
35   74        Male    Master's Degree           627            57308
36   78        Male  Bachelor's Degree           523            90981
37   48        Male    Master's Degree           556            85371
38   42        Male        High School           647            20165
39   20        Male              Ph.D.           407            78957
40   21      Female        High School           819              100
41   31        Male    Master's Degree           449            53942
42   58  Non-Binary              Other           776            74573
43   90  Non-Binary              Ph.D.           692             6037
44   37      Female    Master's Degree           300            54779
45   90      Female  Bachelor's Degree           660            25247
46   44      Female    Master's Degree           850            52817
47   84  Non-Binary  Bachelor's Degree           389            24813
48   70      Female              Other           374            48371
49   85      Female  Bachelor's Degree           799            47354
50   79        Male        High School           643            96648
51   32      Female        High School           396            56062
52   22  Non-Binary        High School           582            81941
53   85      Female        High School           332            22957
54   29      Female        High School           415            38870
55   74        Male  Bachelor's Degree           754            90512
56   34        Male        High School           728            29849
57   42      Female              Ph.D.           473            68727
58   47      Female  Bachelor's Degree           432            42661
59   39  Non-Binary              Other           741            40831

    Transaction_Frequency  Credit_Utilization   Loan_Amount       Savings  \
0                      81                   6   6320.761834   4265.546156
1                      29                   6  60724.937401  11069.822315
2                      12                   6  47764.650288   5000.703046
3                      46                   6  28399.997676  13251.984918
4                      32                   2  23841.328092   3307.473106
5                      34                   5  51451.274330   3280.243360
6                      87                   2  36792.758054  42813.808981
7                      25                   2  45651.989126   8106.013035
8                      46                   3  33747.738176  27984.120291
9                      52                   2  97049.369360  38672.777222
10                     64                   9  13343.943175  22820.478267
11                     76                   3   9680.395318   7668.443893
12                     73                   8  34339.172879   9979.807106
13                     18                   5  59102.690087  21649.210314
14                      4                   4  65917.647185  26411.704459
15                      7                   5  39725.674717  17472.014602
16                      3                   1  99927.799392  39073.980012
17                     48                   5  35189.299619  37551.082443
18                     76                   8  72140.666796  46360.590369
19                     37                   2  63758.269453   1447.627451
20                     48                   9  81305.386325  44784.564561
21                     82                   9  97622.566345  19628.439423
22                     51                   5  88979.365645  43918.624769
23                     49                   6  76456.197436  34539.238808
24                     71                   4  69824.847782  49367.437854
25                     90                   0  33549.816968  37964.122586
26                     49                   8  14768.557821  18227.231300
27                     29                   5   6263.600306  25053.158642
28                      3                   5  24190.170420  18819.457760
29                     74                   5  43228.148118  18245.591801
30                     84                   1  52199.627363  13045.224969
31                     65                   0  77308.355405  24798.514769
32                     20                   0  95874.092306  34086.997253
33                     80                   0  11732.048038  13867.013565
34                     42                   0  10700.414019  26218.990554
35                     28                   0  58969.472301   5869.014709
36                     26                   7  74539.807395   7992.264343
37                     87                   6  84815.038035   2340.317736
38                     52                   3  93583.208022  48536.572139
39                     48                   5  98342.624226    193.017576
40                     66                   4  39980.169222   8928.998403
41                      9                   3  38033.518353  30643.337656
42                      2                   4  14780.867670   4068.479943
43                     89                   5  68493.443868  44094.825155
44                     90                   1  65676.195844  35981.007892
45                     68                   3  86206.259585  48319.498572
46                     10                   6   9725.799479  25381.777362
47                     12                   7  49777.690783  15020.184158
48                     97                   4  58108.192967  27475.028640
49                     37                   0  24155.704004  46540.935865
50                     39                   0  16902.540613  26038.071862
51                     32                   7  85958.083642  13360.351593
52                     33                   3   5853.492224  43869.939459
53                     26                   3  47062.090392  18595.937426
54                     99                   0  11583.400130     69.167500
55                     89                   0  45705.876133  12384.251125
56                     50                   9  97996.232634  15911.675459
57                     88                   4  42370.635346  42938.873412
58                     82                   4  85712.491750  22925.158353
59                     20                   5  11731.556418  22229.364391

           Income
0    87933.183066
1   165685.694868
2   147626.382833
3   191780.086771
4    83348.523289
5   181557.697637
6   158594.093525
7    84336.437287
8   131899.778562
9    71942.592377
10  177391.985073
11   40236.917098
12   58238.185033
13   52945.992574
14   92544.680433
15  154141.932806
16  114843.340829
17  107781.738237
18   20098.273681
19   96572.310564
20   31439.679471
21   57485.585382
22  187830.909013
23   58771.676782
24  174500.774954
25  164520.806881
26   48646.322650
27  129028.152309
28   40819.136943
29  151019.868507
30  134743.209927
31  166148.941104
32  106289.218890
33  184675.355810
34   28882.810422
35   72719.941705
36  148709.467544
37   95259.658115
38   51131.243769
39   39297.934177
40  167121.040063
41  105165.736124
42  178811.060945
43  151992.044177
44   93750.717014
45   87231.982548
46  112814.902397
47  180030.791574
48  152710.144349
49   20927.533568
50  144948.413246
51  185511.333243
52  147882.036711
53   51861.040682
54  107033.262937
55   45256.883226
56   84619.150101
57  188681.067549
58  186194.955361
59   70910.633392

In [ ]:

#creating a data set
import pandas as pd
a={'S.No':pd.Series([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100]),
'Accountholdername':pd.Series(['chandhu','sekhar','sirisha','tulasi','sai','aruna','narendra','bhanu','john','krishna','jagadeesh','srinu','ramya','ashok','madhu','sandhya','satish','mohan','hemalatha','renuka','mery','naveen','vasu','lavanya','krishna','simhadri','santosh','devi','rakesh','yamuna','suguna','arun','ram','janaki','prasad','venu','indhu','aswini','venkat','nikitha','vasanth','sowmya','dinesh','varsha','jayaram','sowjanya','raju','suguna','sukanya','gowtham','rajshekar','uma','mahesh','vandana','saiteja','nanii','dileep','nandini','satya','jyothi','swathi','rishi','laxman','janaki','vanitha','susmitha','vikas','nagraj','suresh','glory','surya','haseena','kareem','abhi','abdul','vaani','deepthi','sohel','akhil','harsha','anandh','neeraja','praveen','hemanth','uday','vardhan','chowdary','kishore','rohith','meghana','roshini','varshini','hemani','shiva','prasanth','suma','anudeesh','jaya','gowri','naidu']),
'Accountholderage':pd.Series([23,24,26,43,25,33,36,38,43,46,50,30,29,39,38,37,36,45,41,40,29,36,44,48,35,28,19,37,39,23,22,20,21,35,46,29,36,40,41,51,52,60,50,37,39,45,57,32,55,50,33,25,45,48,37,35,28,19,20,21,29,37,33,46,50,52,51,44,39,30,40,50,20,52,39,34,25,28,45,42,50,41,29,38,33,22,44,55,60,30,51,38,37,29,50,30,19,34,26,45]),
'Accountholdergender':pd.Series(['f','f','f','f','m','f','m','f','m','m','m','m','m','f','m','f','f','m','m','f','f','f','m','m','f','m','m','m','f','m','f','f','m','m','f','m','m','f','f','m','f','m','f','m','f','m','f','m','f','f','m','m','f','m','f','m','m','m','f','m','f','f','f','m','m','f','f','f','m','m','m','f','m','f','m','m','m','f','f','m','m','m','m','f','m','m','m','m','m','m','m','f','f','f','f','m','m','f','m','f']),
'Maritalstatus':pd.Series(['single','single','single','married','single','married','married','married','married','married','married','married','single','married','married','married','married','married','married','married','single','married','married','married','married','single','single','married','married','single','single','single','single','married','married','single','married','married','married','married','married','married','married','married','married','married','married','married','married','married','married','single','married','married','married','married','single','married','married','single','single','single','single','married','married','married','married','married','married','married','married','married','married','married','single','married','married','married','single','single','married','married','married','married','married','single','married','married','single','married','married','married','married','married','married','married','single','married','married','single']),
'Accountholderphonemunber':pd.Series([6301476255,9573573464,9848810015,9154504455,7416128363,9381704904,7995935826,9494464001,8985086950,9494594077,9492162408,6302891191,9951452239,9133025769,9866419338,9505586341,9346303959,8497930412,9494163668,8688855806,7285912495,7093868890,8639002114,6301269898,8639178377,8465996807,8096897019,9121259030,9949894266,7702823863,9346877008,6300071121,9391090241,7093103274,7013675585,6300448149,9963359809,9346651535,9346373829,9182358591,8121271643,8977402955,7893063150,7997905774,8096680566,9618460568,9618460568,9553272603,9346916900,6302013916,9182829238,7702627333,6281759629,9985703317,9154504521,8919267379,8179615387,8688657712,628157360,7396800633,9542836387,6304353179,9154019093,9392409768,9553854334,9959620524,8688484729,9030157820,8897875622,9059858105,9849821656,7815859256,9618593712,9963748019,9581737893,9587377800,7989762131,7799713419,9100847302,8374223916,9010595929,9392242892,8179881195,8500658932,9059104376,7989095956,7386873947,7981057640,630474233341,7995551685,9391763790,7075810803,9505371890,9581737852,9551699431,7799726019,9059509557,9052518714,8096007288,7601064016]),
'Accountholderincome':pd.Series([25000,30000,35000,40000,45000,24000,37000,48000,27000,36000,39000,70000,45000,50000,60000,54000,52000,46000,80000,90000,62000,42000,40000,27000,33000,44000,47000,56000,68000,45000,33000,27000,29000,30000,50000,55000,43000,56000,78000,90000,89000,76000,64000,45000,34000,25000,28000,29000,31000,36000,56000,39000,65000,77000,56000,67000,50000,46000,78000,76000,89000,54000,26000,28000,35000,56000,47000,48000,70000,90000,72000,41000,31000,27000,46000,67000,56000,55000,45000,35000,25000,50000,54000,64000,74000,84000,90000,67000,44000,45000,29000,58000,62000,60000,49000,71000,38000,37000,47000,90000]),
'Accountholderreligion':pd.Series(['hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','christian','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','christian','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','muslim','hindhu','muslim','muslim','hindhu','muslim','hindhu','hindhu','muslim','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu','hindhu']),
'Accountholderadharno':pd.Series([64852198142,64852198142,64852198143,64852198144,64852198145,64852198146,64852198147,64852198148,64852198149,64852198150,64852198151,64852198152,64852198153,64852198154,64852198155,64852198156,64852198157,64852198158,64852198159,64852198160,64852198161,64852198162,64852198163,64852198164,64852198165,64852198166,64852198167,64852198168,64852198169,64852198170,64852198171,64852198172,64852198173,64852198174,64852198175,64852198176,64852198177,64852198178,64852198179,64852198180,64852198181,64852198182,64852198183,64852198184,64852198185,64852198186,64852198187,64852198188,64852198189,64852198190,64852198191,64852198192,64852198193,64852198194,64852198195,64852198196,64852198197,64852198198,64852198199,64852198200,64852198201,64852198202,64852198203,64852198204,64852198205,64852198206,64852198207,64852198208,64852198209,64852198210,64852198211,64852198212,64852198213,64852198214,64852198215,64852198216,64852198217,64852198218,64852198219,64852198220,64852198221,64852198222,64852198223,64852198224,64852198225,64852198226,64852198227,64852198228,64852198229,64852198230,64852198231,64852198232,64852198233,64852198234,64852198235,64852198236,64852198237,64852198238,64852198239,64852198240]),
'Accountholder qualification':pd.Series(["High School", "Other", "Ph.D.", "Ph.D.", "Bachelor's Degree", "High School", "High School", "Bachelor's Degree", "Master's Degree", "High School", "Ph.D.", "Bachelor's Degree", "Bachelor's Degree", "Other", "High School", "High School", "Ph.D.", "Master's Degree", "Ph.D.", "Master's Degree", "Other", "Ph.D.", "Ph.D.", "High School", "Ph.D.", "High School", "Other", "Master's Degree", "Ph.D.", "Other", "High School", "Master's Degree", "Ph.D.", "Ph.D.", "Bachelor's Degree", "Ph.D.", "Other", "Ph.D.", "Ph.D.", "Bachelor's Degree", "Bachelor's Degree", "Bachelor's Degree", "Ph.D.", "Master's Degree", "Master's Degree", "Other", "Ph.D.", "Bachelor's Degree", "Master's Degree", "Ph.D.", "Bachelor's Degree", "Other", "Master's Degree", "Master's Degree", "High School", "Bachelor's Degree", "High School", "Other", "High School", "Ph.D.", "Master's Degree", "High School", "High School", "Bachelor's Degree", "Bachelor's Degree", "High School", "Ph.D.", "High School", "Ph.D.", "High School", "Other", "Other", "High School", "Bachelor's Degree", "Ph.D.", "Other", "Ph.D.", "Master's Degree", "Bachelor's Degree", "Bachelor's Degree", "Master's Degree", "Bachelor's Degree", "Other", "Master's Degree", "Other", "Other", "Master's Degree", "Ph.D.", "Ph.D.", "Bachelor's Degree", "Master's Degree", "Other", "Ph.D.", "Ph.D.", "Bachelor's Degree", "Bachelor's Degree", "Bachelor's Degree", "Bachelor's Degree", "Master's Degree", "High School"]),
'Credit_Score':pd.Series([ 363, 754, 565, 744, 719, 639, 574, 669, 526, 525, 528, 754,669, 428, 324, 592, 655, 434, 303, 526, 744, 717, 584, 326, 548, 665, 501, 737, 497, 372, 546, 435, 513, 775, 623, 402, 627, 523, 556, 647, 407, 819, 449, 776, 692, 300, 660, 850, 389, 374, 799, 643, 396, 582, 332, 415, 754, 728, 473, 432, 741, 393, 647, 701, 719, 704, 485, 675, 816, 797, 798, 505, 714, 665, 719, 518, 838, 674, 322, 760, 654, 351, 744, 404, 694, 627, 818, 545, 714, 827, 469, 609, 691, 520, 414, 634, 519, 546, 400, 715]),
'Account_Balance':pd.Series([75997, 40444, 90286, 90717, 73330, 20129, 37644, 85728, 42729, 41808, 87496, 95219, 2173, 86640, 6874, 83099, 90808, 89208, 61761, 84416, 2757,40444, 12120, 23842, 69583, 83971, 52462, 73381, 43864, 65094, 73364, 91014, 21107, 4930, 49756, 57308, 90981, 85371, 20165, 78957, 100, 53942, 74573, 6037, 54779, 25247, 52817, 24813, 48371, 47354, 96648, 56062, 81941, 22957, 38870, 90512, 29849, 68727, 42661, 40831, 39308, 3418, 74314, 31739, 54198, 41790, 96455, 85125, 21674, 71818, 1337, 36315, 13657, 82307, 5245, 27342, 3922, 1221, 46778, 1924, 56337, 8901, 41407, 49502, 74392, 20099, 94533, 74152, 37028, 3511, 76440, 66209, 34706, 45518, 25329, 72839, 29419, 97268, 43647, 31649]),
'Transaction_Frequency':pd.Series([81, 29, 12, 46, 32, 34, 87, 25, 46, 52, 64, 76, 73, 18, 4, 7, 3, 48, 76, 37, 48, 82, 51, 49, 71, 90, 49, 29, 3, 74, 84, 65, 20, 80, 42, 28, 26, 87, 52, 48, 66, 9, 2, 89, 90, 68, 10, 12, 97, 37, 39, 32, 33, 26, 99, 89, 50, 88, 82, 20, 94, 28, 72, 18, 25, 24, 39, 28, 24, 18, 67, 44, 83, 45, 54, 0, 10, 67, 6, 91, 99, 57, 70, 19, 34, 50, 20, 43, 0, 66, 97, 12, 15, 33, 23, 12, 5, 38, 1, 10]),
'Credit_Utilization':pd.Series([6, 6,5, 6, 6, 2, 5, 2, 2, 3, 2, 9, 3, 8, 5, 4, 5, 1, 5, 8, 2, 9, 5, 6, 4, 0, 8, 5, 5, 5, 1, 0, 0, 0, 0, 0, 7, 6, 3, 5, 4, 3, 4, 5, 1, 3, 6, 7, 4, 0, 0, 7, 3, 3, 0, 0, 9, 4, 4, 5, 8, 8, 0, 1, 5, 9, 9, 6, 1, 4, 0, 4, 7, 7, 7, 6, 2, 6, 0, 2, 7, 7, 2, 6, 1, 3, 7, 0, 5, 4, 5, 5, 3, 8, 0, 1, 5, 4, 1, 5]),
'Loan_Amount':pd.Series([24528, 53478, 45560, 71592, 68246, 85022, 14591, 23059, 42756, 72554, 84554, 32891, 31958, 39228, 60133, 95482, 18013, 29353, 71208, 59580, 9425, 29363, 34088, 9694, 40542, 44709, 53630, 97552, 7011, 56487, 40605, 57852, 19521, 16151, 34176, 99415, 21871, 92607, 27034, 53977, 79193, 47320, 50679, 59855, 91237, 83241, 59281, 36720, 83054, 52677, 2963, 88815, 46870, 60781, 40843, 15265, 24455, 26743, 69914, 25136, 76999, 45295, 84662, 69988, 91986, 72279, 71166, 51714, 44296, 26885, 72614, 8804, 86465, 98875, 20132, 50053, 44707, 22616, 81841, 38607, 97620, 22898, 9481, 40068, 64433, 85016, 75358, 53123, 20045, 1291, 57741, 35300, 34897, 25754, 12230, 50863, 30306, 62997, 12180, 5802]),
'Savings':pd.Series([8058, 51641, 17553, 29285, 20441, 27892, 39381, 49335, 15972, 27844, 4207, 54498, 51979, 45026, 6241, 18670, 31123,51641, 16240, 21515, 39905, 46617,4207, 37985, 5471, 51501, 51974, 14937, 12120, 27117, 2598, 36915, 42000, 57239, 54019, 34650, 45486, 7802, 54685, 29442, 645, 54649, 4039, 56079, 23374, 9635, 21863, 49014, 22791, 43699, 11622, 761, 9139, 20381, 37559, 33393, 41355, 59843, 12154, 36151, 2555, 15612, 53752, 30532, 14707, 32214, 5305, 31069, 39526, 13195, 48846, 7762, 36076, 28675, 32933, 34183, 50973, 42062, 11209, 49675, 31504, 7228, 57447, 46783, 33467, 22657, 14226, 11957, 13596, 16832, 11992, 30281, 48008, 24530, 3467, 10716, 22901, 47027, 29111, 3087]),
'Accountholderaddress':pd.Series(['garividi,535101','cheepurupalli,535128','vizianagaram,535003','parvathipuram,535501','allapuram,515766','aluru,515415','agraharam,515154','alamuru,515002','amarapuram,515281','amidhalagondi,515301','ankampalli,515741','badannaplli,515672','basampalli,515651','basapuram,515766','bandlapalli,515425','basavanahalli,515305','bucherla,515123','byrapuram,515110','chakarlapalli,515122','chamaluru,515425','chayapuram,515842','chinthagunta,515414','chittur,515611','chukkalur,515415','dampetla,515672','dasampalli,515765','devagiri,515871','devarapalli,515775','dharmavaram,515671','diguvapalli,515414','eastnadipalli,515581','elukuntla,515159','srikakulam,532001','yerramalla,534411','galliveedu,516267','hyderabad,500001','eduru,515405','duradagunta,515787','amadagur,515556','karnataka,560001','kerala,670001','manipur,795001','meghalaya,783123','gujarath,360001','hayana,121001','maharastra,400001','nagaland,797001','odissa,751001','panjab,140001','rajastan,301001','tamilnadu,600001','uttarpradesh,201001','tripura,799001','telangana,500001','westbengal,700001','uttarakhand,244712','sikkim,737101','jammukashmir,180001','andrapradesh,507130','bihar,800001','delhi,110001','chandigar,140119','arunachalpradesh,790001','goa,403001','himachalpradesh,171001','jarkhand,813208','mizoram,796001','adilabad,504001','agra,282001','aravindanagar,515001','anathpur,515001','birepalli,515212','brahmanapalli,515408','bonthalapalli,515571','budili,515241','bukkapatnam,515144','chabala,515812','chagaleru,515601','chapiri,515761','cheepuleti,515303','chikkapalli,515441','chinnampalli,515761','chitnaduti,515281','chittur,515611','chowluru,515211','dadithota,515631','dampetla,515631','darsimala,515672','devagiri,515871','dharmapuri,515812','diguvapalli,515421','dimmagudi,515405','dodagatta,515761','donekal,515842','dorigallu,515511','duggumari,515425','eddulapalli,515771','edurur,515405','devarapalli,515775','darmavaram,515671']),
'Accountnumber':pd.Series([52489632452,54545785145,45554871236,45896321457,44569874125,78545632107,5475112579,4587963214,45812032147,23651220014,47895662210,45210369875,2588899663,45971240453,56254522585,5955625545,95875232314,84218525252,5478455285,84852652484,848748955,97452625663,3255452100,66005789623,6677122250,55255400545,99955752210,66447880222,96664170000,68550066552,88144110005,89558444100,99445533110,5452000050,85452041000,21525458100,65480054486,74516545411,52524850005,45074789008,7896541201,20145665485,62146512554,52121452177,54411027895,9857412056,5478962130,65859647852,20114457885,25878544210,85741254986,214589621,54789661254,7898958462,78912054689,96325841256,58796201456,15896325874,12589634895,12569863247,256334895,8975462189,89452130678,75210463189,12036589742,78963201451,78965412036,89651420367,89651247851,21036987452,1258963455,4859622158,58964112365,789564123,25896310254,45628965125,4896351270,78965214456,45896521562,5896521145,7895621400,58962145604,75698221045,78965236951,58964123658,7896541250,65892145601,69845712562,96589120365,7896541256,69854102365,789651234,45963210589,7896512364,78996512035,48965120365,12078965421,5896458896,78965422165,78964412655]),
'Accountholderemailid':pd.Series(['chandrasekhar3@gmail.com','sekharnalla456@gmail.com','sirishabuddaraju98@gmail.com','sritulasipinnada09@gmail.com','saikirangorle54@gmail.com','arunalolugu73@gmail.com','narendrapinninti2@gmail.com','bhanuugedela76@gmail.com','johntimothy6789@gmail.com','krishnareddi654@gmail.com','jagadeeshdabbada75@gmail.com','srinuchandaka87@gmail.com','ramyamajji89@gmail.com','ashoktummaganti90@gmail.com','madhumadhavi65@gmail.com','sandhyavempadapu56@gmail.com','satishbalaga123@gmail.com','mohanmeesala87@gmail.com','hemalatha567@gmail.com','renukatalachitla67@gmail.com','merynalla87650@gmail.com','naveensiga890@gmail.com','vasuniddana4567@gmail.com','lavanyachandaka2@gmail.com','krishnakrish78@gmail.com','simhadribalagudaba78@gmail.com','santhoshgedela67@gmail.com','devivakada90@gmail.com','rakeshyarrumsetti9@gmail.com','yamunanedri876@gmail.com','sugunabodasingi67@gmail.com','arundhanukoti23@gmail.com','rampodilapu765@gmail.com','janakijaanu65@gmail.com','prasadpathivada67@gmail.com','venudabbada75@gmail.com','indhureddi89@gmail.com','aswinigorle90@gmail.com','venkatburada64@gmail.com','nikithakorada56@gmail.com','vasanthvasu789@gmail.com','sowmyamajji76@gmail.com','dineshkarrothu45@gmail.com','varshapalakodeti78@gmail.com','jayramgedela76@gmail.com','sowjanyalolugu32@gmail.com','rajubalaga76@gmail.com','sugunaandavarapu67@gmail.com','sukanyapiniseti45@gmail.com','gowthamchandaka8@gmail.com','buradarajsekhar7@gmail.com','umaandavarapu98@gmail.com','maheshmeesala002@gmail.com','vandanalolugu65@gmail.com','saitejabonthu6@gmail.com','naniidabbada56@gmail.com','dileeplucky65@gmail.com','nandinisuru54@gmail.com','satyalolugu76@gmail.com','jyothivaakada89@gmail.com','swathithota78@gmail.com','rishikumar4567@gmail.com','laxmanlukky234@gmail.com','janakiram987@gmail.com','vanithachandaka76@gmail.com','susmithasidarla123@gmail.com','vikasvicky987@gmail.com','rajunagraj76@gmail.com','sureshnasaka87@gmail.com','glorygedela@gmail.com','suryamajji5@gmail.com','haseenabegam56@gmail.com','karemshek3456@gmail.com','abhimannepuri90@gmail.com','abdulshek345@gmail.com','vanireddi34@gmail.com','deepthirelli45@gmail.com','sohelvakada56@gmail.com','akilyelluri78@gmail.com','harshareddi89@gmail.com','anandsirela23@gmail.com','neerajapodilapu56@gmail.com','praveenmajji67@gmail.com','hemanthreddi5678@gmail.com','udayyarra345@gmail.com','vardanvishyaraju9@gmail.com','chowdaryavala56@gmail.com','kishorelenka67@gmail.com','rohithyelakala78@gmail.com','meghanasenagala78@gmail.com','roshinisirla34@gmail.com','varshinibireddi45@gmail.com','hemanidola567@gmail.com','shivayerra789@gmail.com','prasanthsaau78@gmail.com','sumayedla345@gmail.com','anudeeshdabbada678@gmail.com','jayachelluri67@gmail.com','gowrimajji789@gmail.com','naiduchandaka89@gmail.com']),
'Nomineename':pd.Series(['AnushaReddy’,’PrakashRao’,‘PriyaSharma','RajeshBabu','SangeethaNaidu','SureshPatil','DeepikaRaju','VenkatReddy','LavanyaGupta','SatishKumar','PadmaDevi','AjayChoudhary','AnanyaSingh','VishnuMurthy','MeenakshiRao','ArunPatel','SushmaNair','RaghavendraVarma','KalyanBabu','KavithaSharma','RameshReddy','ShaliniVerma','PrasadRaju','SwathiKumar','Vamsi','Krishna','JyothiMenon','MadhuPrakash','NiharikaReddy','VijayKumar','AnjaliJoshi','HarishNaidu','BhavanaRao','SanjayKumar','GeethaMurthy','ManojChoudhary','LakshmiSharma','SudhirReddy','PoojaGupta','NaveenRaju','DivyaSingh','AravindPatel','SunithaNair','RajaVarma','AnupamaBabu','ShivaKumar','SandhyaVerma','KiranPrakash','RadhaReddy','VishalMenon','SnehaRaju','PraveenKumar','SujathaRao','VijayaSharma','MohanBabu','NeelimaGupta','RajendraNaidu','SahithiRao','MaheshPatel','AnuradhaSingh','VenkateshReddy','ManasaKumar','ArjunVarma','SruthiChoudhary','VenuGopal','SrilakshmiSharma','RaghuNair','DeepthiJoshi','GaneshRaju','ChaitanyaSingh','RadhikaReddy','RaghunathBabu','MounikaVerma','SrinivasanPrakash','AmruthaRao','ArjunKumar','PrathimaPatel','RajuMenon','ShantiNaidu','NaveenSharma','SnehaDevi','KarthikReddy','HarithaGupta','SatishBabu','AnjaliSingh','RajaniMurthy','VikramChoudhary','KeerthiRao','VinayPatel','SuhasiniNair','SantoshVarma','PriyankaJoshi','RaghavReddy','LavanyaRaju','PrakashKumar','AnithaSharma','RaviBabu','MayaVerma','VenkataRaju','Ananya Singh']),
'Nomineage':pd.Series([30,40,50,20,52,39,34,25,28,45,42,50,41,29,38,33,22,44,55,60,30,51,38,37,29,50,30,19,34,26,45,23,24,26,43,25,33,36,38,43,46,50,30,29,39,38,37,36,45,41,40,29,36,44,48,35,28,19,37,39,23,22,20,21,35,46,29,36,40,41,51,52,60,50,37,39,45,57,32,55,50,33,25,45,48,37,35,28,19,20,21,29,37,33,46,50,52,51,44,39]),
'Nominegender':pd.Series(['m','m','f','f','m','f','m','f','m','m','m','m','m','f','m','f','f','m','m','f','f','f','m','m','f','m','m','m','f','m','f','f','m','m','f','m','m','f','f','m','f','m','f','m','f','m','f','m','f','f','m','m','f','m','f','m','m','m','f','m','f','f','f','m','m','f','f','f','m','m','m','f','m','f','m','m','m','f','f','m','m','m','m','f','m','m','m','m','m','m','m','f','f','f','f','m','m','f','m','f']),
'Nomineadharno':pd.Series([21454387344,21454387345,21454387346,21454387347,21454387348,21454387349,21454387350,21454387351,21454387352,21454387353,21454387354,21454387355,21454387356,21454387357,21454387358,21454387359,21454387360,21454387361,21454387362,21454387363,21454387364,21454387365,21454387366,21454387367,21454387368,21454387369,21454387370,21454387371,21454387372,21454387373,21454387374,21454387375,21454387376,21454387377,21454387378,21454387379,21454387380,21454387381,21454387382,21454387383,21454387384,21454387385,21454387386,21454387387,21454387388,21454387389,21454387390,21454387391,21454387392,21454387393,21454387394,21454387395,21454387396,21454387397,21454387398,21454387399,21454387400,21454387401,21454387402,21454387403,21454387404,21454387405,21454387406,21454387407,21454387408,21454387409,21454387410,21454387411,21454387412,21454387413,21454387414,21454387415,21454387416,21454387417,21454387418,21454387419,21454387420,21454387421,21454387422,21454387423,21454387424,21454387425,21454387426,21454387427,21454387428,21454387429,21454387430,21454387431,21454387432,21454387433,21454387434,21454387435,21454387436,21454387437,21454387438,21454387439,21454387440,21454387441,21454387442,21454387443]),
'Nomineaddress':pd.Series(['garividi,535101','cheepurupalli,535128','vizianagaram,535003','parvathipuram,535501','allapuram,515766','aluru,515415','agraharam,515154','alamuru,515002','amarapuram,515281','amidhalagondi,515301','ankampalli,515741','badannaplli,515672','basampalli,515651','basapuram,515766','bandlapalli,515425','basavanahalli,515305','bucherla,515123','byrapuram,515110','chakarlapalli,515122','chamaluru,515425','chayapuram,515842','chinthagunta,515414','chittur,515611','chukkalur,515415','dampetla,515672','dasampalli,515765','devagiri,515871','devarapalli,515775','dharmavaram,515671','diguvapalli,515414','eastnadipalli,515581','elukuntla,515159','srikakulam,532001','yerramalla,534411','galliveedu,516267','hyderabad,500001','eduru,515405','duradagunta,515787','amadagur,515556','karnataka,560001','kerala,670001','manipur,795001','meghalaya,783123','gujarath,360001','hayana,121001','maharastra,400001','nagaland,797001','odissa,751001','panjab,140001','rajastan,301001','tamilnadu,600001','uttarpradesh,201001','tripura,799001','telangana,500001','westbengal,700001','uttarakhand,244712','sikkim,737101','jammukashmir,180001','andrapradesh,507130','bihar,800001','delhi,110001','chandigar,140119','arunachalpradesh,790001','goa,403001','himachalpradesh,171001','jarkhand,813208','mizoram,796001','adilabad,504001','agra,282001','aravindanagar,515001','anathpur,515001','birepalli,515212','brahmanapalli,515408','bonthalapalli,515571','budili,515241','bukkapatnam,515144','chabala,515812','chagaleru,515601','chapiri,515761','cheepuleti,515303','chikkapalli,515441','chinnampalli,515761','chitnaduti,515281','chittur,515611','chowluru,515211','dadithota,515631','dampetla,515631','darsimala,515672','devagiri,515871','dharmapuri,515812','diguvapalli,515421','dimmagudi,515405','dodagatta,515761','donekal,515842','dorigallu,515511','duggumari,515425','eddulapalli,515771','edurur,515405','devarapalli,515775','darmavaram,515671']),
'Nomineerelationwithaccountholder':pd.Series(['father','mother','husband','husband','mother','father','husband','father','mother','mother','mother','father','wife','wife','mother','father','wife','mother','husband','husband','wife','mother','husband','father','father','mother','husband','wife','mother','mother','wife','husband','wife','mother','father','father','husband','mother','mother','father','father','mother','father','husband','mother','mother','father','husband','father','father','father','mother','husband','mother','father','mother','mother','husband','wife','father','mother','mother','father','father','husband','wife','mother','father','husband','father','mother','mother','father','father','husband','husband','mother','mother','husband','husband','husband','mother','father','father','mother','mother','father','husband','mother','father','mother','father','wife','wife','mother','father','mother','father','father','father']),
'Accountregisterednumber':pd.Series([9734273681,9734273682,9734273683,9734273684,9734273685,9734273686,9734273687,9734273688,9734273689,9734273680,9734273671,9734273671,9734273673,9734273674,9734273675,9734273676,9734273677,9734273678,9734273679,9734273660,9734273661,9734273662,9734273663,9734273664,9734273665,9734273666,9734273667,9734273668,9734273669,9734273650,9734273651,9734273652,9734273653,9734273654,9734273655,9734273656,9734273657,9734273658,9734273659,9734273640,9734273641,9734273642,9734273643,9734273644,9734273645,9734273646,9734273647,9734273648,9734273649,9734273630,9734273631,9734273632,9734273633,9734273634,9734273635,9734273636,9734273637,9734273638,9734273639,9734273620,9734273621,9734273622,9734273623,9734273624,9734273625,9734273626,9734273627,9734273628,9734273629,9734273610,9734273609,9734273608,9734273607,9734273606,9734273605,9734273604,9734273603,9734273602,9734273601,9734273600,9734273501,9734273502,9734273503,9734273504,9734273505,9734273506,9734273507,9734273508,9734273509,9734273510,9734273511,9734273512,9734273513,9734273514,9734273515,9734273516,9734273517,9734273518,9734273519,9734273520]),
'Bankifsccode':pd.Series(['APGV0009909','APGV0009908','APGV0009014','APGV0009013','APGV0009012','APGV0009011','APGV0009010','APGV0009009','APGV0009008','APGV0009007','APGV0009006','APGV0009005','APGV0009004','APGV0009003','APGV0009002','APGV0009001','APGV0009000','APGV0008211','APGV0008210','APGV0008209','APGV0008208','APGV0008207','APGV0008206','APGV0008205','APGV0008204','APGV0008203','APGV0008202','APGV0008201','APGV0008200','APGV0008199','APGV0008198','APGV0008197','APGV0008196','APGV0008195','APGV0008194','APGV0008193','APGV0008192','APGV0008191','APGV0008190','APGV0008189','APGV0008188','APGV0008187','APGV0008186','APGV0008185','APGV0008184','APGV0008183','APGV0008182','APGV0008181','APGV0008180','APGV0008179','APGV0008178','APGV0008177','APGV0008176','APGV0008175','APGV0008174','APGV0008173','APGV0008172','APGV0008171','APGV0008170','APGV0008168','APGV0008167','APGV0008166','APGV0008165','APGV0008164','APGV0008163','APGV0008162','APGV0008161','APGV0008160','APGV0008159','APGV0008158','APGV0008157','APGV0008156','APGV0008155','APGV0008154','APGV0008153','APGV0008152','APGV0008151','APGV0008150','APGV0008149','APGV0008148','APGV0008147','APGV0008144','APGV0008142','APGV0008141','APGV0008140','APGV0008139','APGV0008138','APGV0008135','APGV0008134','APGV0008133','APGV0008132','APGV0008131','APGV0008130','APGV0008128','APGV0008127','APGV0008126','APGV0008125','APGV0008123','APGV0008122','APGV0008121']),
'Bankbranch':pd.Series(['garividi','vizainagaram','gurla','gujjingavalasa','nellimarla','garividi','kotajunction','boddam','sarvespuram','bondapalli','vizainagaram','garbham','chepurpalli','gurla','rajam','srikakulam','etcharla','chilakapalem','subadrapuram','laaveru','palakonda','saragujjali','tekkalli','ponduru','kothapeta','sigadam','korasavada','kotabommali','novapadu','tillaru','duvusi','bharampur','orissa','parlakimidi','partapatnam','itchapuram','palasa','ranastalam','yeramandalam','kotturu','srikakulam','potturu','vizainagaram','gurla','gujjingavalasa','srikakulam','orissa','duvvada','novapadu','parlakimidi','itchapuram','yeramandalam','tekkalli','kothapeta','kothaalasa','sompeta','narsannapeta','challapeta','palasa','chukkapeta','chapara','nellimarla','novapadu','sitampeta','amadalavalasa','boddam','gantiyada','tuni','gajapathinagaram','garividi','parvathipuram','novapadu','kothavalasa','rayagada','bobbili','skota','tagarapuvalasa','madurawada','gajuwaka','anantapuram','madyalapalem','hanumantawaka','jagadabacenter','kacharapalem','garividi','nellimarla','venkatapuram','jagadabacenter','anantapuram','garividi','chepurpalli','kothavalasa','bobbili','parvathipuram','gujjingavalasa','garividi','srikakulam','etcharla','pendurthi','pendurthi']),
'Bankaccounttype':pd.Series(['SavingsAccount','CheckingAccount','BusinessAccount','StudentAccount','JointAccount','CertificateofDeposit(CD)','MoneyMarketAccount','RetirementAccount','TrustAccount','High-Yield Savings Account’, ‘Individual Retirement Account’, ‘Health SavingsAccount(HSA)','KidsSavingsAccount’,‘SeniorCitizenAccount','FamilyAccount','Online Savings Account’, ‘Teen Checking Account’, ‘Holiday Club Account’, ‘Vacation Savings Account’,‘EmergencyFundAccount’,‘SmallBusinessAccount','NonprofitOrganizationAccount’,‘JointCheckingAccount’,‘MinorSavingsAccount’,‘CollegeFundAccount','EstateAccount','ForeignCurrencyAccount','TrusteeAccount','BusinessCheckingAccount','ExecutiveAccount','LifeInsurancePremiumAccount','CorporateAccount','FixedDepositAccount’,’CharitableDonationAccount’,‘OnlineCheckingAccount','NonResidentAccount','GovernmentAccount','PartnershipAccount','DividendAccount','EscrowAccount','RealEstateEscrowAccount','InvestmentAccount','StudentCheckingAccount','VeteranAccount','EmergencySavingsAccount’,‘MinorsCheckngAccount’,‘CorporateSavingsAccount’,‘TaxPaymentAccount’,‘PersonalLoaAccount’,‘BusinessLoanAccount’,‘RetirementSavingsAccount’,‘SeniorSavingsAccount','VIPAccount','Healthcare Savings Account’,‘JointSavingAccount','IRA Certificate of Deposit (IRA CD)','Online Business Account’, ‘Government Agency Account’, ‘Fiduciary Account’, ‘Mortgage Escrow Account’, ‘Foreign Trade Account’, ‘Investment Savings Account’, ‘College Savings Account’, ‘Nonprofit Checking Account’, ‘Family Trust Account’, ‘Emergency Fund Savings Account’, ‘Business Certificate of Deposit (CD)','Executive Checking Account’, ‘Retirement Income Account’, ‘Business Investment Account’, ‘Charity Fund Account’, ‘Online Joint Account’, ‘Foreign Exchange Account’, ‘Beneficiary Account’, ‘Corporate Checking Account’, ‘Fixed Interest Account’, ‘Escrow Savings Account’, ‘Real Estate Trust Account’, ‘Stock Trading Account’, ‘Business Line of Credit Account’, ‘Student Loan Account’, ‘Veteran Savings Account’, ‘Emergency Fund Checking Account’, ‘Minor Trust Account’, ‘Corporate Investment Account’, ‘Tax Refund Account’, ‘Personal Credit Account’, ‘Business Credit Account’, ‘Retirement Portfolio Account’, ‘Senior Investment Account’, ‘VIP Savings Account’, ‘Health Savings Checking Account’, ‘Joint Certificate of Deposit (CD)','Online Trust Account’, ‘Government Fund Account’, ‘Executor Account’, ‘Real Estate Escrow Savings Account’, ‘Mutual Fund Investment Account’, ‘College Fund Savings Account’, ‘Nonprofit Reserve Account']),
'ATMcardnumber':pd.Series([8746568701,8746568702,8746568703,8746568704,8746568705,8746568706,8746568707,8746568708,8746568709,8746568710,8746568711,8746568712,8746568713,8746568714,8746568715,8746568716,8746568717,8746568718,8746568719,8746568720,8746568721,8746568722,8746568723,8746568724,8746568725,8746568726,8746568727,8746568728,8746568729,8746568730,8746568731,8746568732,8746568733,8746568734,8746568735,8746568736,8746568737,8746568738,8746568739,8746568740,8746568741,8746568742,8746568743,8746568744,8746568745,8746568746,8746568747,8746568748,8746568749,8746568750,8746568751,8746568752,8746568753,8746568754,8746568755,8746568756,8746568757,8746568758,8746568759,8746568760,8746568761,8746568762,8746568763,8746568764,8746568765,8746568766,8746568767,8746568768,8746568769,8746568770,8746568771,8746568772,8746568773,8746568774,8746568775,8746568776,8746568777,8746568778,8746568779,8746568780,8746568781,8746568782,8746568783,8746568784,8746568785,8746568786,8746568787,8746568788,8746568789,8746568790,8746568791,8746568792,8746568793,8746568794,8746568795,8746568796,8746568797,8746568798,8746568799,8746568800]),
'Date of account joined':pd.Series([12-3-1822,13-3-1823,14-3-1922,15-3-1824,16-3-2022,17-3-1825,18-3-1826,19-3-1827,2-3-1922,21-3-1922,22-3-1922,23-3-1922,24-3-1922,25-3-1922,26-3-1922,27-3-1922,28-3-1922,29-3-1922,3-3-1922,31-3-1922,1-4-1922,2-4-1922,3-4-1922,4-4-1922,5-4-1922,6-4-1922,7-4-1922,8-4-1922,9-4-1922,1-4-1922,11-4-1922,12-4-1922,13-4-1922,14-4-1922,15-4-1922,16-4-1922,17-4-1922,18-4-1922,19-4-1922,2-4-1922,21-4-1922,22-4-1922,23-4-1922,24-4-2022,25-4-1922,26-4-1922,27-4-1922,28-4-1922,29-4-1922,3-4-1922,1-5-1922,2-5-1922,3-5-1922,4-5-1922,5-5-1922,6-5-1922,7-5-1922,8-5-1922,9-5-1922,10-5-1922,11-5-1922,12-5-1922,13-5-1922,14-5-1922,15-5-1922,16-5-1922,17-5-1922,18-5-1922,19-5-1922,20-5-1922,21-5-1922,22-5-1922,23-5-1922,24-5-1922,25-5-1922,26-5-1922,27-5-1922,28-5-1922,29-5-1922,3-5-1922,31-5-1922,15-3-1922,16-3-1922,17-3-1922,18-3-1922,19-3-1922,2-3-1922,21-3-1922,22-3-1922,23-3-1922,24-3-1922,25-3-1922,26-3-1922,27-3-1922,28-3-1922,29-3-1922,3-3-1922,31-3-1922,1-4-1922,2-4-1922]),
'Havingcreditcardornot':pd.Series(['yes','no','yes','yes','yes','no','no','no','yes','no','yes','no','yes','no','yes','no','yes','yes','yes','yes','no','no','no','yes','yes','no','yes','yes','no','no','yes','yes','no','yes','no','yes','no','yes','no','yes','yes','yes','yes','yes','yes','yes','yes','no','no','no','no','no','no','no','no','yes','yes','yes','yes','yes','yes','yes','yes','yes','no','no','no','yes','yes','yes','no','no','yes','no','yes','no','yes','no','yes','no','yes','no','yes','yes','no','no','yes','no','yes','yes','yes','yes','no','no','no','yes','yes','no','yes', 'yes']),
'Creditcardnumber':pd.Series([85679843210,82105468739,84962310578,85730146289,82596743018,83051264798,86473295018,80321657489,84072516983,89274301658,87196354028,81427630958,87904125638,84321659870,82654193708,80432765198,86740193285,83051476928,85937201486,83256104978,80512934768,87490321658,84697253018,89321674058,82194536708,85640173298,82764391508,81940637258,87693054128,89257130648,80416357298,83169752408,86073294125,84095617328,81974520638,89231745608,87326041985,84917603428,89162074358,85793014628,82374569108,81046293578,87453692108,80361542798,89416753028,84025719368,81653097248,86024139785,87901634528,83126904578,85294367018,80914325786,83401265789,82130679458,87453096128,83764019258,85946317208,80421693578,89267431058,85396124708,86794531028,84903217658,82761934508,89413072568,84029756138,83219746085,81956743208,86194357028,87095134628,80439621578,89261754038,85649173208,83472095168,81025496738,84362957018,87409325168,80321495678,89247536108,85761034298,82657493108,89436271508,84079321658,83251064798,86097842351,81962347058,84320591678,87491632058,82136794508,80341652978,89273810456,85674893102,83560192784,81054329761,84297613058,87543920168,80412735698,89321064758,85721039684,82637491502,89120734658]),
'Creditcardissueyear':pd.Series([1820,1821,1822,1823,1824,1825,1826,1827,1828,1829,1830,1831,1832,1833,1834,1835,1836,1837,1838,1839,1840,1841,1842,1843,1844,1845,1846,1847,1848,1849,1850,1851,1852,1853,1854,1855,1856,1857,1858,1859,1860,1861,1862,1863,1864,1865,1866,1867,1868,1869,1870,1871,1872,1873,1874,1875,1876,1877,1878,1879,1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1899,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,1913,1914,1915,1916,1917,1918,1920]),
'Creditcardexpiryyear':pd.Series([1980,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035,2036,2037,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050,2051,2052,2053,2054,2055,2056,2057,2058,2059,2060,2061,2062,2063,2064,2065,2066,2067,2068,2069,2070,2071,2072,2073,2074,2075,2076,2077,2078,2079,2080,2081,2082,2083,2084,2085,2086,2087,2088]),
'Havingdebitcard':pd.Series(['yes','no','yes','yes','yes','no','no','no','yes','no','yes','no','yes','no','yes','no','yes','yes','yes','yes','no','no','no','yes','yes','no','yes','yes','no','no','yes','yes','no','yes','no','yes','no','yes','no','yes','yes','yes','yes','yes','yes','yes','yes','no','no','no','no','no','no','no','no','yes','yes','yes','yes','yes','yes','yes','yes','yes','no','no','no','yes','yes','yes','no','no','yes','no','yes','no','yes','no','yes','no','yes','no','yes','yes','no','no','yes','no','yes','yes','yes','yes','no','no','no','yes','yes','no','yes', 'yes']),
'Debitcardnumber':pd.Series([67352648542,67352648543,67352648544,67352648545,67352648546,67352648547,67352648548,67352648549,67352648550,67352648551,67352648552,67352648553,67352648554,67352648555,67352648556,67352648557,67352648558,67352648559,67352648560,67352648561,67352648562,67352648563,67352648564,67352648565,67352648566,67352648567,67352648568,67352648569,67352648570,67352648571,67352648572,67352648573,67352648574,67352648575,67352648576,67352648577,67352648578,67352648579,67352648580,67352648581,67352648582,67352648583,67352648584,67352648585,67352648586,67352648587,67352648588,67352648589,67352648590,67352648591,67352648592,67352648593,67352648594,67352648595,67352648596,67352648597,67352648598,67352648599,67352648600,67352648601,67352648602,67352648603,67352648604,67352648605,67352648606,67352648607,67352648608,67352648609,67352648610,67352648611,67352648612,67352648613,67352648614,67352648615,67352648616,67352648617,67352648618,67352648619,67352648620,67352648621,67352648622,67352648623,67352648624,67352648625,67352648626,67352648627,67352648628,67352648629,67352648630,67352648631,67352648632,67352648633,67352648634,67352648635,67352648636,67352648637,67352648638,67352648639,67352648640,67352648641]),
'Debitcardissueyear':pd.Series([1860,1861,1862,1863,1864,1865,1866,1867,1868,1869,1870,1871,1872,1873,1874,1875,1876,1877,1878,1879,1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1899,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,1913,1914,1915,1916,1917,1918,1919,1920,1921,1922,1923,1924,1925,1926,1927,1928,1929,1930,1931,1932,1933,1934,1935,1936,1937,1938,1939,1940,1941,1942,1943,1944,1945,1946,1947,1948,1949,1950,1951,1952,1953,1954,1955,1956,1957,1958,2003]),
'Debitcardexpiryear':pd.Series([1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035,2036,2037,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050,2051,2052,2053,2054,2055,2056,2057,2058,2059,2060,2061,2062,2063,2064,2065,2066,2067,2068,2069,2070,2071,2072,2073,2074,2075,2076,2077,2078,2079,2080,2081,2082,2083,2084,2085,2086,2087,2088,2029]),
'Pancardavailability':pd.Series(['yes','no','yes','yes','yes','no','no','no','yes','no','yes','no','yes','no','yes','no','yes','yes','yes','yes','no','no','no','yes','yes','no','yes','yes','no','no','yes','yes','no','yes','no','yes','no','yes','no','yes','yes','yes','yes','yes','yes','yes','yes','no','no','no','no','no','no','no','no','yes','yes','yes','yes','yes','yes','yes','yes','yes','no','no','no','yes','yes','yes','no','no','yes','no','yes','no','yes','no','yes','no','yes','no','yes','yes','no','no','yes','no','yes','yes','yes','yes','no','no','no','yes','yes','no','yes', 'yes']),
'Last transaction type':pd.Series(['Withdrawal - Checking Account’, ‘Deposit - Savings Account’, ‘Transfer - Between Accounts’, ‘Payment - Credit Card’, ‘Bill Payment - Utility’, ‘Loan Payment - Personal Loan’, ‘Purchase - Retail Store’, ‘ATM Withdrawal’, ‘Online Transfer - Third Party’, ‘Mobile Banking Payment’, ‘Purchase - Online Shopping’, ‘Withdrawal - ATM’, ‘Deposit - Cash’, ‘Transfer - International’, ‘Payment - Mortgage’, ‘Bill Payment - Internet’, ‘Loan Payment - Auto Loan’, ‘Purchase - Grocery Store’, ‘Check Deposit - Mobile Banking’, ‘Transfer - Wire Transfer’, ‘Payment - Student Loan’, ‘Bill Payment - Phone’, ‘Loan Payment - Home Equity Loan’, ‘Purchase - Gas Station’, ‘Cash Advance - Credit Card’, ‘Online Transfer - Internal’, ‘Mobile Banking Transfer’, ‘Purchase - Restaurant’, ‘Withdrawal - Savings Account’, ‘Deposit - Check’, ‘Transfer - Peer-to-Peer’, ‘Payment - Insurance’, ‘Bill Payment - Cable TV’, ‘Loan Payment - Business Loan’, ‘Purchase - Electronics Store’, ‘Withdrawal - Checking Account’, ‘Deposit - Savings Account’, ‘Transfer - Between Accounts’, ‘Payment - Credit Card’, ‘Bill Payment - Utility’, ‘Loan Payment - Personal Loan’, ‘Purchase - Retail Store’, ‘ATM Withdrawal’, ‘Online Transfer - Third Party’, ‘Mobile Banking Payment’, ‘Deposit - Savings Account’, ‘Transfer - Between Accounts’, ‘Payment - Credit Card’, ‘Bill Payment - Utility’, ‘Loan Payment - Personal Loan’, ‘Purchase - Retail Store’, ‘ATM Withdrawal’, ‘Online Transfer - Third Party’, ‘Mobile Banking Payment’, ‘Check Deposit - In-Person’, ‘Transfer - Trust Account’, ‘Payment - Car Insurance’, ‘Bill Payment - Credit Card’, ‘Loan Payment - Education Loan’, ‘Purchase - Clothing Store’, ‘Withdrawal - Certificate of Deposit (CD)','Deposit - Money Order’, ‘Transfer - IRA Account’, ‘Payment - Health Insurance’, ‘Bill Payment - Rent’, ‘Loan Payment - Personal Line of Credit’, ‘Purchase - Home Improvement Store’, ‘Transfer - Investment Portfolio’, ‘Online Transfer - External’, ‘Mobile Banking Bill Payment’, ‘Purchase - Electronics Online’, ‘Withdrawal - Emergency Fund’, ‘Deposit - Travellers’, ‘Bill Payment - Gym Membership’, ‘Loan Payment - Business Line of Credit’, ‘Purchase - Art Gallery’, ‘Check Deposit - Drive-Thru’, ‘Transfer - Charitable Donation’, ‘Payment - Tuition Fee’, ‘Bill Payment - Magazine Subscription’, ‘Loan Payment - Motorcycle Loan’, ‘Purchase - Music Store’, ‘Withdrawal - Online Savings Account’, ‘Deposit - Gift Card’, ‘Transfer - Child Support Payment’, ‘Payment - Legal Fees’, ‘Bill Payment - Streaming Service’, ‘Loan Payment - Equipment Loan’, ‘Purchase - Sporting Goods Store’, ‘Cash Advance - Prepaid Card’, ‘Online Transfer - Investment Purchase’, ‘Mobile Banking Purchase’, ‘Purchase - Antique Shop’, ‘Withdrawal - Certificate of Deposit (CD)','Deposit - Money Order’, ‘Transfer - 401(k) Account’, ‘Payment - Property Tax’, ‘Bill Payment - Credit Card Minimum’, ‘Loan Payment - Small Business Loan’, ‘Purchase - Furniture Store']),
'Vechilesloan':pd.Series([10000,0,10000,20000,450000,0,0,56000,43000,0,34000,0,450000,0,78000,0,200000,80000,90000,100000,0,0,0,230000,560000,0,450000,95000,0,0,56000,560000,0,56000,0,0,0,340000,0,34000,670000,56000,67000,67000,90000,890000,67000,0,0,0,0,0,0,0,0,50000,450000,460000,780000,450000,56000,780000,67000,590000,0,0,0,91000,78000,67000,0,0,67000,0,78000,0,68000,0,46000,0,56000,0,870000,900000,0,0,670000,0,560000,67000,78000,670000,0,0,0,65000,0,0,78000,78000]),
'Goldloan':pd.Series([91000,67000,45000,0,0,78000,98000,0,0,0,350000,0,78000,0,900000,780000,780000,670000,0,0,0,78000,670000,0,0,67000,0,0,45000,78000,0,70000,0,20000,0,0,0,56000,43000,560000,34000,40000,450000,56000,78000,0,0,0,0,0,0,0,0,230000,560000,56000,450000,95000,300000,30000,67000,68000,0,0,0,56000,63000,900000,0,0,45000,0,56000,0,0,0,0,70000,0,20000,0,0,78000,0,0,560000,0,40000,0,450000,56000,78000,0,0,0,90000,100000,0,450000,0]),
'Landloan':pd.Series([100000,0,0,670000,560000,560000,0,0,760000,0,0,340000,0,340000,0,560000,0,670000,900000,890000,670000,0,0,0,580000,780000,0,600000,600000,0,0,460000,780000,0,560000,0,6700000,450000,0,670000,400000,450000,560000,780000,560000,200000,800000,0,0,0,0,0,0,0,0,450000,950000,780000,91000,780000,670000,450000,0,670000,0,0,0,680000,0,460000,0,0,780000,0,900000,0,7800000,0,890000,0,670000,0,6700000,0,0,0,650000,0,780000,560000,200000,800000,0,0,0,450000,0,0,560000,560000]),
'Houseloan':pd.Series([450000,0,230000,560000,560000,0,0,780000,91000,0,670000,0,0,0,90000,0,670000,680000,0,460000,0,0,0,870000,900000,0,7800000,6700000,0,0,670000,600000,0,0,0,670000,0,560000,0,560000,200000,800000,900000,100000,200000,450000,0,0,0,0,0,0,0,0,0,670000,340000,450000,340000,670000,560000,670000,670000,900000,0,0,0,670000,0,580000,0,0,600000,0,500000,0,460000,0,450000,0,780000,0,590000,450000,0,0,400000,0,560000,780000,560000,200000,0,0,0,450000,460000,0,450000,560000]),
'Accountbalance':pd.Series([670000,560000,670000,670000,900000,890000,670000,340000,670000,876977,580000,780000,56000,600000,600000,500000,450000,460000,780000,450000,560000,780000,670000,590000,450000,670000,670000,400000,450000,560000,780000,560000,200000,600000,600000,500000,450000,460000,780000,450000,560000,450000,95000,78000,670000,56000,560000,780000,56000,76000,655000,230000,560000,560000,450000,950000,780000,91000,780000,670000,450000,784375,670000,90000,780000,670000,680000,742389,460000,350000,560000,780000,870000,900000,7800000,7800000,6700000,890000,5600000,670000,600000,6700000,3258796,5567746,670000,650000,560000,78000,560000,200000,800000,900000,100000,200000,450000,563654,230000,560000,596898,549924]),
'Havingfixeddepositornot':pd.Series(['yes','no','yes','yes','yes','no','no','no','yes','no','yes','no','yes','no','yes','no','yes','yes','yes','yes','no','no','no','yes','yes','no','yes','yes','no','no','yes','yes','no','yes','no','yes','no','yes','no','yes','yes','yes','yes','yes','yes','yes','yes','no','no','no','no','no','no','no','no','yes','yes','yes','yes','yes','yes','yes','yes','yes','no','no','no','yes','yes','yes','no','no','yes','no','yes','no','yes','no','yes','no','yes','no','yes','yes','no','no','yes','no','yes','yes','yes','yes','no','no','no','yes','yes','no','yes', 'yes']),
'No.offixeddeposits':pd.Series([1,0,3,2,4,0,0,0,4,0,2,0,1,0,2,0,1,3,2,1,0,0,0,1,5,0,2,3,0,0,4,3,0,1,0,5,0,6,0,1,5,4,2,3,1,2,4,0,0,0,0,0,0,0,0,1,1,2,4,3,2,3,2,2,0,0,0,1,4,2,0,0,1,0,3,0,2,0,1,0,5,0,4,2,0,0,1,0,2,3,1,2,0,0,0,1,1,0,1,2]),
'Fixeddepositduration':pd.Series(['1years','0years','5years','3 years','2 years','0 years','0years','0 years','1 years','0 years','3 years','0 years','3 years','0 years','1 years','0 years','5 years','2 years','2years','2years','2 years','0 years','0years','0 years','2 years','5 years','0 years','2 years','3 years','0 years','0 years','3 years','4 years','0 years','3 years','0 years','2 years','0 years','4 years','0 years','2 years','3 years','4 years','4years','4 years','1 years','8 years','4 years','0 years','0years','0years','0years','0years','0years','0years','0 years','3 years','4 years','5 years','2 years','5 years','5 years','2 years','3 years','1 years','0 years','0years','0 years','5 years','3 years','3 years','0 years','0 years','2 years','0 years''2 years','0 years','4 years','0 years','4 years','0 years','2 years','0 years','4 years','5 years','0 years','0 years','2 years','0 years','4 years','1 years','2 years','3 years','0 years','0years','0 years','1 years','8 years','0 years','3 years','1 years']),
'Amountinfixeddeposits':pd.Series([460000,0,350000,560000,780000,0,0,0,7800000,0,890000,0,670000,0,6700000,0,34000,670000,650000,560000,0,0,0,800000,900000,0,200000,10000,0,0,45000,78000,0,43000,0,34000,0,450000,0,78000,560000,200000,80000,90000,100000,200000,450000,0,0,0,0,0,0,0,0,56000,560000,780000,56000,76000,560000,80000,70000,10000,0,0,0,78000,56000,43000,0,0,40000,0,56000,0,560000,0,80000,0,100000,0,450000,36000,0,0,56000,0,95000,78000,670000,56000,0,0,0,76000,44000,0,70000,10000]),
'Activationstatus':pd.Series(['yes','no','yes','yes','yes','no','no','no','yes','no','yes','no','yes','no','yes','no','yes','yes','yes','yes','no','no','no','yes','yes','no','yes','yes','no','no','yes','yes','no','yes','no','yes','no','yes','no','yes','yes','yes','yes','yes','yes','yes','yes','no','no','no','no','no','no','no','no','yes','yes','yes','yes','yes','yes','yes','yes','yes','no','no','no','yes','yes','yes','no','no','yes','no','yes','no','yes','no','yes','no','yes','no','yes','yes','no','no','yes','no','yes','yes','yes','yes','no','no','no','yes','yes','no','yes', 'yes']),
'Tenure':pd.Series(['1 years','5 years','5 years','3 years','2 years','6 years','4 years','4 years','1 years','3 years','3 years','8 years','3 years','4 years','1 years','5 years','5 years','2 years','2years','2 years','8 years','6 years','6 years','2 years','5 years','5 years','2 years','3 years','6 years','6 years','3 years','4 years','6 years','3 years','6 years','2 years','7 years','4 years','9 years','2 years','3 years','4 years','4years','4 years','1 years','8 years','4 years','10 years','11 years','12 years','6years','5 years','4 years','3 years','2 years','3 years','4 years','5 years','2 years','5 years','5 years','2 years','3 years','1 years','10 years','9 years','8 years','5 years','5 years','3 years','3 years','5 years','4 years','2 years','3 years''2 years','1 years','4 years','3 years','4 years','4 years','2 years','8 years','4 years','5 years','6 years','7 years','2 years','4 years','4 years','1 years','2 years','3 years','8 years','9 years','4 years','1 years','8 years','6 years','3 years','1 years']),
'JAN2022creditedamount':pd.Series([1000,0,1000,2000,45000,0,0,5600,4300,0,3400,0,45000,0,7800,0,2000,8000,9000,10000,0,0,0,23000,56000,0,45000,9500,0,0,5600,56000,0,5600,0,0,0,34000,0,3400,67000,5000,6700,6700,9000,8900,6700,0,0,0,0,0,0,0,0,5000,45000,46000,78000,45000,5600,78000,6000,59000,0,0,0,9100,7800,6700,0,0,6700,0,7800,0,6800,0,4600,0,5600,0,8700,9000,0,0,67000,0,56000,6700,78000,8900,0,0,0,65000,0,0,78000,78000]),
'FEB2022creditedamount':pd.Series([9100,0,6000,4000,0,0,0,7000,9000,0,0,0,35000,0,7800,0,90000,70000,7000,6000,0,0,0,7000,6000,0,0,6000,0,0,4000,78000,0,70000,0,29000,0,0,0,5000,4000,56000,3400,4000,45000,5600,7800,0,0,0,0,0,0,0,0,23000,56000,56000,45000,9000,3000,3000,6700,6800,0,0,0,5600,6300,90000,0,0,8900,0,56000,0,0,0,7000,0,20000,0,0,78000,0,0,56000,0,40000,45000,56000,78000,0,0,0,90000,10000,0,45000,0]),
'MARCH2022creditedamount':pd.Series([0,0,0,6000,0,78000,0,9000,7800,9000,7000,0,0,0,8000,6000,0,0,67000,0,0,45000,78000,0,70000,0,20000,0,0,0,56000,43000,5600,34000,9000,0,6000,4000,0,0,0,7000,9800,40000,45000,56000,78000,0,0,0,0,0,0,0,0,23000,5600,5600,4000,9500,3000,30000,6000,6000,0,0,0,5600,6700,9000,0,0,45000,0,56000,0,0,0,9000,0,20000,0,0,7000,0,0,56000,0,40000,45000,56000,78000,0,0,0,9000,10000,0,45000,0]),
'APRIL2022creditedamount':pd.Series([10000,0,6000,5000,5000,0,0,7600,0,0,3400,0,3000,0,5000,0,7000,9000,9000,6700,0,0,0,5000,8000,0,6000,6000,0,0,9000,7800,0,5600,0,6700,0,4500,0,7800,4000,4000,5000,7800,7800,2000,8000,0,0,0,0,0,0,0,0,4000,9500,7000,9100,8000,6700,45000,0,67000,0,0,0,68000,0,4600,0,0,78000,0,9000,0,7000,0,8000,0,67000,0,0,0,0,0,65000,0,80000,50000,20000,80000,0,0,0,45000,0,0,56000,56000]),
'MAY2022creditedamount':pd.Series([7000,0,6000,7000,9000,0,0,4000,0,0,5000,0,5000,0,6000,0,4000,4000,7000,4000,0,0,0,5000,4000,0,6000,80000,0,0,7000,5000,0,6000,0,50000,0,46000,0,4000,5600,45000,9500,7000,6000,5000,5600,0,0,0,0,0,0,0,0,9000,7000,9000,7000,6000,4000,7375,0,9000,0,0,0,7389,0,3000,0,0,87000,0,78000,0,60000,0,56000,0,60000,0,0,0,0,0,56000,0,56000,20000,80000,90000,0,0,0,56654,0,0,5898,54924]),
'JUNE2022creditedamount':pd.Series([6700,0,6700,6000,9000,0,0,3000,0,0,5000,0,5000,0,6000,0,9000,4600,7800,4000,0,0,0,5000,4000,0,6700,4000,0,0,7800,5600,0,6000,0,5000,0,4600,0,4500,5600,4500,9500,7000,6000,5000,5600,0,0,0,0,0,0,0,0,0,7800,9100,7800,10000,2000,3375,0,9000,0,0,0,7389,0,3500,0,0,8000,0,0,0,6700,0,50000,0,6000,0,0,0,0,0,5000,0,5000,8000,8000,9000,0,0,0,5654,0,0,5998,5924]),
'JULY2022creditedamount':pd.Series([4500,0,2000,5000,5000,0,0,7800,9100,0,6700,0,0,0,9000,0,6000,6000,0,4000,0,0,0,8000,9000,0,7800,6700,0,0,6700,6000,0,0,0,6000,0,5000,0,5000,2000,8000,9000,1000,2000,4500,0,0,0,0,0,0,0,0,0,6700,3000,45000,3400,6700,5600,6000,6700,9000,0,0,0,6000,0,5800,0,0,6000,0,5000,0,46000,0,4000,0,7000,0,5900,4000,0,0,40000,0,5000,7800,5000,2000,0,0,0,4500,0,0,4000,56000]),
'AUG2022creditedamount':pd.Series([10000,0,6700,56000,56000,0,0,7000,0,0,3400,0,3400,0,5600,0,6700,9000,8900,6700,0,0,0,58000,7800,0,6000,6000,0,0,4600,7000,0,56000,0,6700,0,45000,0,6700,40000,45000,5600,7800,5600,20000,8000,0,0,0,0,0,0,0,0,4500,9500,7800,9100,7800,6000,4500,0,6000,0,0,0,6800,0,4600,0,0,7800,0,9000,0,7800,0,8000,0,6700,0,6700,9000,0,0,65000,0,7800,5600,2000,8000,0,0,0,4000,0,0,5600,5600]),
'SEP2022creditedamount':pd.Series([10000,0,20000,3000,45000,0,0,56000,0,0,5000,0,30000,0,7500,0,7800,80000,60000,45000,0,0,0,3500,56000,0,60000,30000,0,0,6700,8999,0,5699,0,7896,0,5600,0,56000,4500,8990,7890,5690,4500,7600,80000,0,0,0,0,0,0,0,0,7800,5600,8900,4500,8000,60000,7900,0,7000,0,0,0,5600,0,6700,0,0,7000,0,9000,0,8900,0,9000,0,30000,0,7000,7800,0,0,7000,0,9800,50000,2000,25000,0,0,0,56000,0,0,7800,6700]),
'OCT2022creditedamount':pd.Series([91000,0,67000,45000,0,0,0,78000,98000,0,0,0,35000,0,78000,0,90000,7000,780000,67000,0,0,0,78000,670000,0,0,67000,0,0,45000,78000,0,70000,0,20000,0,0,0,56000,43000,560000,34000,40000,450000,56000,78000,0,0,0,0,0,0,0,0,230000,560000,56000,450000,95000,300000,30000,67000,68000,0,0,0,56000,63000,90000,0,0,45000,0,56000,0,0,0,70000,0,20000,0,0,78000,0,0,560000,0,40000,450000,56000,78000,0,0,0,90000,100000,0,450000,0]),
'NOV2022creditedamount':pd.Series([50000,0,30000,60000,60000,0,0,80000,1000,0,70000,0,0,0,9000,0,70000,80000,0,60000,0,0,0,70000,90000,0,78000,70000,0,0,50000,6000,0,0,0,67000,0,56000,0,56000,2000,8000,9000,10000,20000,45000,0,0,0,0,0,0,0,0,0,6000,3000,4000,3000,6000,5000,6000,6000,9000,0,0,0,67000,0,58000,0,0,6000,0,5000,0,4600,0,40000,0,7000,0,5900,4500,0,0,4000,0,5600,7800,5600,2000,0,0,0,4500,4600,0,4500,50000]),
'DEC2022creditedamount':pd.Series([45000,0,23000,56000,56000,0,0,780000,91000,0,67000,0,0,0,90000,0,67000,68000,0,46000,0,0,0,87000,90000,0,78000,67000,0,0,67000,60000,0,0,0,6000,0,5000,0,5000,20000,8000,7000,8000,2000,4000,0,0,0,0,0,0,0,0,0,60000,30000,4000,3000,60000,50000,60000,60000,80000,0,0,0,6000,0,5000,0,0,60000,0,50000,0,46000,0,45000,0,78000,0,50000,4000,0,0,40000,0,5000,7000,5600,2000,0,0,0,40000,40000,0,45000,60000]),
'JAN2022debitedamount':pd.Series([5000,0,3500,22300,40000,0,0,0,45000,0,24500,0,10000,0,20000,0,1340,3500,26632,1532400,0,0,0,10356,55734,0,28572,3852,0,0,4563,3534,0,1435,0,5678,0,6348,0,1120,5672,46734,25273,37854,1000,2000,4647,0,0,0,0,0,0,0,0,16487,1000,2000,454,37534,27934,3643,26845,23759,0,0,0,15632,43527,23486,0,0,1748,0,32346,0,2349,0,16734,0,55732,0,47542,2623,0,0,1762,0,27532,36732,16832,286,0,0,0,1574,13486,0,1527,2275]),
'FEB2022debitedamount':pd.Series([2000,0,4500,265300,80000,0,0,0,45000,0,67500,0,60000,0,67000,0,5640,6700,56632,1432400,0,0,0,78356,90734,0,89572,4552,0,0,7863,9834,0,1435,0,7678,0,5000,0,1100,5600,49034,25200,37567,1000,2000,5647,0,0,0,0,0,0,0,0,99487,3000,9000,45400,37834,27900,36873,26745,45759,0,0,0,15645,56528,23678,0,0,8948,0,32390,0,2300,0,11734,0,5732,0,47002,2600,0,0,1062,0,25732,36052,168069,2800,0,0,0,15040,134890,0,15270,22750]),
'MARCH2022debitedamount':pd.Series([7680,0,9800,8300,780000,0,0,0,49800,0,94500,0,10000,0,90000,0,87340,75500,647632,1758400,0,0,0,10300,557886,0,28785652,3897852,0,0,45863,3874,0,1855,0,9678,0,467848,0,85680,5965562,4686894,2273,3754,100,200,467,0,0,0,0,0,0,0,0,15787,800,7800,7874,90534,90934,3743,278845,9059,0,0,0,7852,4327,2386,0,0,17748,0,379346,0,239849,0,16964,0,568732,0,476542,26623,0,0,17662,0,232,36732,67832,7896,0,0,0,157574,67486,0,7827,9075]),
'APRIL2022debitedamount':pd.Series([5700,0,87400,657300,84900,0,0,0,57700,0,10,0,4760,0,2,0,10,38700,78632,7832400,0,0,0,78956,6834,0,68572,6852,0,0,8963,3894,0,7835,0,878,0,4748,0,6720,5672,57734,26873,367954,95000,200,45797,0,0,0,0,0,0,0,0,89487,1,7600,4574,375689,79934,6843,26945,26869759,0,0,0,67632,69527,258786,0,0,5848,0,338746,0,2389,0,138734,0,5389732,0,3980542,37923,0,0,158962,0,34832,47732,2308832,286,0,0,0,134984,138786,0,15387,3795]),
'MAY2022debitedamount':pd.Series([34800,0,348700,3286300,49000,0,0,0,47000,0,24700,0,78400,0,48000,0,5940,400,4632,153,0,0,0,156,5734,0,8572,38452,0,0,45463,53534,0,14435,0,35678,0,36348,0,13120,35672,45934,55273,35954,5800,2000,46547,0,0,0,0,0,0,0,0,58487,9800,5500,4554,3534,5934,35843,25845,48759,0,0,0,154032,49527,236,0,0,148,0,32345,0,249,0,1634,0,55732,0,475542,25623,0,0,17562,0,275532,5367325,616832,28286,0,0,0,1574,1883486,0,1527,82275]),
'JUNE2022debitedamount':pd.Series([5000,0,3500,22300,40000,0,0,0,45000,0,24500,0,10000,0,20000,0,1340,3500,26632,1532400,0,0,0,10356,55734,0,28572,3852,0,0,4563,3534,0,1435,0,5678,0,6348,0,1120,5672,46734,25273,37854,1000,2000,4647,0,0,0,0,0,0,0,0,16487,1000,2000,454,37534,27934,3643,26845,23759,0,0,0,15632,43527,23486,0,0,1748,0,32346,0,2349,0,16734,0,55732,0,47542,2623,0,0,1762,0,27532,36732,16832,286,0,0,0,1574,13486,0,1527,2275]),
'JULY2022debitedamount':pd.Series([2000,0,4500,265300,80000,0,0,0,45000,0,67500,0,60000,0,67000,0,5640,6700,56632,1432400,0,0,0,78356,90734,0,89572,4552,0,0,7863,9834,0,1435,0,7678,0,5000,0,1100,5600,49034,25200,37567,1000,2000,5647,0,0,0,0,0,0,0,0,99487,3000,9000,45400,37834,27900,36873,26745,45759,0,0,0,15645,56528,23678,0,0,8948,0,32390,0,2300,0,11734,0,5732,0,47002,2600,0,0,1062,0,25732,36052,168069,2800,0,0,0,15040,134890,0,15270,4688]),
'AUG2022debitedamount':pd.Series([6980,0,386900,2234700,24800,0,0,0,468900,0,.23487000,0,10000,0,20000,0,1340,3500,26632,1532400,0,0,0,10356,55734,0,28572,3852,0,0,4563,3534,0,1435,0,5678,0,6348,0,1120,5672,46734,25273,37854,1000,2000,4647,0,0,0,0,0,0,0,0,99487,3000,9000,45400,37834,27900,36873,26745,45759,0,0,0,15645,56528,23678,0,0,8948,0,32390,0,2300,0,11734,0,5732,0,47002,2600,0,0,1062,0,25732,36052,168069,2800,0,0,0,15040,134890,0,15270,4688]),
'SEP2022debitedamount':pd.Series([27516,0,81200,118634700,186300,0,0,0,7918900,0,.167000,0,97120,0,81000,0,1340,3500,83632,1532400,0,0,0,733356,55734,0,28572,3852,0,0,4563,3534,0,1435,0,5678,0,6348,0,1120,5672,46734,97273,37854,1000,6400,6247,0,0,0,0,0,0,0,0,99487,3000,9000,45400,37834,27900,36873,26745,45759,0,0,0,98645,76528,52678,0,0,7948,0,32390,0,2300,0,11734,0,6432,0,47002,2600,0,0,1062,0,25732,36052,168069,2800,0,0,0,15040,134890,0,15270,4688]),
'OCT2022debitedamount':pd.Series([5700,0,87400,657300,84900,0,0,0,57700,0,10,0,4760,0,2,0,10,38700,78632,7832400,0,0,0,78956,6834,0,68572,6852,0,0,8963,3894,0,7835,0,878,0,4748,0,6720,5672,57734,26873,367954,95000,200,45797,0,0,0,0,0,0,0,0,89487,1,7600,4574,375689,79934,6843,26945,26869759,0,0,0,67632,69527,258786,0,0,5848,0,338746,0,2389,0,138734,0,5389732,0,3980542,37923,0,0,158962,0,34832,47732,2308832,286,0,0,0,134984,138786,0,15387,3795]),
'NOV2022debitedamount':pd.Series([5000,0,3500,22300,40000,0,0,0,45000,0,24500,0,10000,0,20000,0,1340,3500,26632,1532400,0,0,0,10356,55734,0,28572,3852,0,0,4563,3534,0,1435,0,5678,0,6348,0,1120,5672,46734,25273,37854,1000,2000,4647,0,0,0,0,0,0,0,0,16487,1000,2000,454,37534,27934,3643,26845,23759,0,0,0,15632,43527,23486,0,0,1748,0,32346,0,2349,0,16734,0,55732,0,47542,2623,0,0,1762,0,27532,36732,16832,286,0,0,0,1574,13486,0,1527,2275]),
'DEC2022debitedamount':pd.Series([34800,0,348700,3286300,49000,0,0,0,47000,0,24700,0,78400,0,48000,0,5940,400,4632,153,0,0,0,156,5734,0,8572,38452,0,0,45463,53534,0,14435,0,35678,0,36348,0,13120,35672,45934,55273,35954,5800,2000,46547,0,0,0,0,0,0,0,0,58487,9800,5500,4554,3534,5934,35843,25845,48759,0,0,0,154032,49527,236,0,0,148,0,32345,0,249,0,1634,0,55732,0,475542,25623,0,0,17562,0,275532,5367325,616832,28286,0,0,0,1574,1883486,0,1527,82275]),
'JAN2023creditedamount':pd.Series([5000,0,3500,22300,40000,0,0,0,45000,0,24500,0,10000,0,20000,0,1340,3500,26632,1532400,0,0,0,10356,55734,0,28572,3852,0,0,4563,3534,0,1435,0,5678,0,6348,0,1120,5672,46734,25273,37854,1000,2000,4647,0,0,0,0,0,0,0,0,16487,1000,2000,454,37534,27934,3643,26845,23759,0,0,0,15632,43527,23486,0,0,1748,0,32346,0,2349,0,16734,0,55732,0,47542,2623,0,0,1762,0,27532,36732,16832,286,0,0,0,1574,13486,0,1527,2275]),
'FEB2023creditedamount':pd.Series([56700,0,988700,86300,9000,0,0,0,7000,0,24700,0,8400,0,48000,0,50,400,432,153,0,0,0,156,534,0,8572,8452,0,0,45463,5534,0,14435,0,35678,0,3648,0,13120,5672,5934,5273,3954,5800,2000,46547,0,0,0,0,0,0,0,0,5887,900,5500,4554,3534,5934,3843,25845,48759,0,0,0,154032,49527,236,0,0,148,0,32345,0,249,0,1634,0,55732,0,475542,25623,0,0,17562,0,2532,536325,61632,28286,0,0,0,1574,18486,0,1527,8275]),
'MARCH2023creditedamount':pd.Series([0,5700,0,87400,657300,84900,0,0,0,57700,0,10,0,4760,0,2,0,10,38700,78632,7832400,0,0,0,78956,6834,0,68572,6852,0,0,8963,3894,0,7835,0,878,0,4748,0,6720,5672,57734,26873,5700,0,87400,657300,84900,0,0,0,367954,95000,200,45797,58487,9800,5500,4554,3534,5934,35843,25845,48759,0,0,0,154032,49527,236,0,0,148,0,32345,249,0,1634,0,55732,0,475542,25623,0,0,17562,0,275532,5367325,616832,28286,0,0,0,1574,1883486,0,1527,82275]),
'APRIL2023creditedamount':pd.Series([5700,87400,657300,84900,0,0,0,4000,0,2700,0,78400,0,400,0,590,400,4632,143,0,0,0,156,734,0,572,38452,0,0,6785463,863534,0,478735,0,3678,0,36348,0,13120,35672,45934,55273,35954,5800,2000,46547,0,0,0,0,0,0,0,0,58487,9800,5500,4554,3534,5934,5843,25845,48759,0,0,0,154032,49527,236,0,0,148,0,3345,0,249,0,1634,0,800,0,48700,32300,4000,0,0,0,0,275532,5367325,616832,28286,0,0,0,1574,1883486,0,1527,72275]),
'MAY2023creditedamount':pd.Series([3800,0,3480,30,4900,0,0,0,400,0,700,0,400,0,4800,0,5940,400,4632,153,0,0,0,156,5734,0,8572,38452,0,0,45463,3534,0,14435,0,35678,0,36348,0,13120,35672,45934,55273,954,5800,2000,46547,0,0,0,0,0,0,0,0,487,9800,5500,4554,3534,5934,35843,25845,4759,0,0,0,1032,49527,236,0,0,148,0,32345,0,249,0,1634,0,55732,0,47542,25623,0,0,17562,0,27532,53625,616832,282086,0,0,0,15074,1883486,0,15927,275]),
'JUNE2023creditedamount':pd.Series([5000,0,3500,22300,40000,0,0,0,45000,0,24500,0,10000,0,20000,0,1340,3500,26632,1532400,0,0,0,10356,55734,0,28572,3852,0,0,4563,3534,0,1435,0,5678,0,6348,0,1120,5672,46734,25273,37854,1000,2000,4647,0,0,0,0,0,0,0,0,58487,9800,5500,4554,3534,5934,35843,25845,48759,0,0,0,154032,49527,236,0,0,148,0,32345,0,249,0,1634,0,55732,0,475542,25623,0,0,17562,0,275532,5367325,616832,28286,0,0,0,1574,1883486,0,1527,82275]),
'JULY2023creditedamount':pd.Series([7680,0,9800,8300,780000,0,0,0,49800,0,94500,0,10000,0,90000,0,87340,75500,647632,1758400,0,0,0,10300,557886,0,28785652,3897852,0,0,45863,3874,0,1855,0,9678,0,467848,0,85680,5965562,4686894,2273,3754,100,200,467,0,0,0,0,0,0,0,0,58487,9800,5500,4554,3534,5934,35843,25845,48759,0,0,0,154032,49527,236,0,0,148,0,32345,0,249,0,1634,0,55732,0,475542,25623,0,0,17562,0,275532,5367325,616832,28286,0,0,0,1574,18486,0,1527,8275]),
'AUG2023creditedamount':pd.Series([34800,0,348700,3286300,49000,0,0,0,47000,0,24700,0,78400,0,48000,0,5940,400,4632,153,0,0,0,156,5734,0,8572,38452,0,0,45463,53534,0,14435,0,35678,0,36348,0,13120,35672,45934,55273,35954,5800,2000,46547,0,0,0,0,0,0,0,0,58487,9800,5500,4554,3534,5934,35843,25845,48759,0,0,0,154032,49527,236,0,0,148,0,32345,0,249,0,1634,0,55732,0,475542,25623,0,0,17562,0,275532,5367325,616832,28286,0,0,0,1574,1883486,0,1527,82275]),
'JAN2023debitedamount':pd.Series([5700,0,87400,657300,84900,0,0,0,57700,0,10,0,4760,0,2,0,10,38700,78632,7832400,0,0,0,78956,6834,0,68572,6852,0,0,8963,3894,0,7835,0,878,0,4748,0,6720,5672,57734,26873,367954,95000,200,45797,0,0,0,0,0,0,0,0,89487,1,7600,4574,375689,79934,6843,26945,26869759,0,0,0,67632,69527,258786,0,0,5848,0,338746,0,2389,0,138734,0,5389732,0,3980542,37923,0,0,158962,0,34832,47732,2308832,286,0,0,0,134984,138786,0,15387,3795]),
'FEB2023debitedamount':pd.Series([56700,0,988700,86300,9000,0,0,0,7000,0,24700,0,8400,0,48000,0,50,400,432,153,0,0,0,156,534,0,8572,8452,0,0,45463,5534,0,14435,0,35678,0,3648,0,13120,5672,5934,5273,3954,5800,2000,46547,0,0,0,0,0,0,0,0,5887,900,5500,4554,3534,5934,3843,25845,48759,0,0,0,154032,49527,236,0,0,148,0,32345,0,249,0,1634,0,55732,0,475542,25623,0,0,17562,0,2532,536325,61632,28286,0,0,0,1574,18486,0,1527,8275]),
'MARCH2023debitedamount':pd.Series([5700,0,87400,657300,84900,0,0,0,57700,0,10,0,4760,0,2,0,10,38700,78632,7832400,0,0,0,78956,6834,0,68572,6852,0,0,8963,3894,0,7835,0,878,0,4748,0,6720,5700,0,87400,657300,84900,0,0,0,5672,57734,26873,367954,95000,200,45797,58487,9800,5500,4554,3534,5934,35843,25845,48759,0,0,0,154032,49527,236,0,0,148,0,32345,0,249,0,1634,0,55732,0,475542,25623,0,0,17562,0,275532,5367325,616832,28286,0,0,0,1574,1883486,0,1527,82275]),
'APRIL2023debitedamount':pd.Series([5000,0,3500,22300,40000,0,0,0,45000,0,24500,0,10000,0,20000,0,1340,3500,26632,1532400,0,0,0,10356,55734,0,28572,3852,0,0,4563,3534,0,1435,0,5678,0,6348,0,1120,5672,46734,25273,37854,1000,2000,4647,0,0,0,0,0,0,0,0,16487,1000,2000,454,37534,27934,3643,26845,23759,0,0,0,15632,43527,23486,0,0,1748,0,32346,0,2349,0,16734,0,55732,0,47542,2623,0,0,1762,0,27532,36732,16832,286,0,0,0,1574,13486,0,1527,2275]),
'MAY2023debitedamount':pd.Series([800,0,48700,32300,4000,0,0,0,4000,0,2700,0,78400,0,400,0,590,400,4632,143,0,0,0,156,734,0,572,38452,0,0,6785463,863534,0,478735,0,3678,0,36348,0,13120,35672,45934,55273,35954,5800,2000,46547,0,0,0,0,0,0,0,0,58487,9800,5500,4554,3534,5934,5843,25845,48759,0,0,0,154032,49527,236,0,0,148,0,3345,0,249,0,1634,0,55732,0,475542,2523,0,0,17562,0,275532,5367325,616832,28286,0,0,0,1574,1883486,0,1527,72275]),
'JUNE2023debitedamount':pd.Series([27516,0,81200,118634700,186300,0,0,0,7918900,0,.167000,0,97120,0,81000,0,1340,3500,83632,1532400,0,0,0,733356,55734,0,28572,3852,0,0,4563,3534,0,1435,0,5678,0,6348,0,1120,5672,46734,97273,37854,1000,6400,6247,0,0,0,0,0,0,0,0,99487,3000,9000,45400,37834,27900,36873,26745,45759,0,0,0,98645,76528,52678,0,0,7948,0,32390,0,2300,0,11734,0,6432,0,47002,2600,0,0,1062,0,25732,36052,168069,2800,0,0,0,15040,134890,0,15270,4688]),
'JULY2023debitedamount':pd.Series([5000,0,3500,22300,40000,0,0,0,45000,0,24500,0,10000,0,20000,0,1340,3500,26632,1532400,0,0,0,10356,55734,0,28572,3852,0,0,4563,3534,0,1435,0,5678,0,6348,0,1120,5672,46734,25273,37854,1000,2000,4647,0,0,0,0,0,0,0,0,16487,1000,2000,454,37534,27934,3643,26845,23759,0,0,0,15632,43527,23486,0,0,1748,0,32346,0,2349,0,16734,0,55732,0,47542,2623,0,0,1762,0,27532,36732,16832,286,0,0,0,1574,13486,0,1527,2275]),
'AUG2023debitedamount':pd.Series([2000,0,4500,265300,80000,0,0,0,45000,0,67500,0,60000,0,67000,0,5640,6700,56632,1432400,0,0,0,78356,90734,0,89572,4552,0,0,7863,9834,0,1435,0,7678,0,5000,0,1100,5600,49034,25200,37567,1000,2000,5647,0,0,0,0,0,0,0,0,99487,3000,9000,45400,37834,27900,36873,26745,45759,0,0,0,15645,56528,23678,0,0,8948,0,32390,0,2300,0,11734,0,5732,0,47002,2600,0,0,1062,0,25732,36052,168069,2800,0,0,0,15040,134890,0,15270,4688]),
'SMS Subscription':pd.Series([ 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes']),
'Email Subscription':pd.Series(['Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'No', 'Yes', 'Yes']),
'Mobile banking usage':pd.Series(['Yes', 'Yes' , 'No' ,'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'Yes']),
'E-commerce availability status':pd.Series(['Yes', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'Yes','Yes', 'Yes' , 'No' ,'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes']),
'Aadhar link status':pd.Series(['Yes', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'Yes','Yes', 'Yes' , 'No' ,'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes']),
'customer id':pd.Series([12345678, 23456789, 34567899, 45678921, 56789312, 67894123, 78951234, 89612345, 97123456, 81234567, 12345678, 23456789, 34567899, 45678991, 56789912, 67899123, 78991234, 89912345, 99123456, 91234567, 12345678, 23456789, 34567899, 45678991, 56789912, 67899123, 78901234, 89912345, 99123456, 91234567, 12345678, 23456789, 34567899, 45678991, 56789912, 67899123, 78991234, 89912345, 99123456, 91234567, 12345678, 23456789, 34567899, 45678991, 56789912, 67899123, 78991234, 89912345, 99123456, 91234567, 12345678, 23456789, 34567899, 45678991, 56789912, 67899123, 78991234, 89912345, 99123456, 91234567, 12345678, 23456789, 34567899, 45678991, 56789912, 67899123, 78991234, 89912345, 99123456, 91234567, 12345678, 23456789, 34567899, 45678991, 56789912, 67899123, 78991234, 89912345, 99123456, 91234567, 12345678, 23456789, 34567899, 45678991, 56789912, 67899123, 78991234, 89912345, 99123456, 91234567, 12345678, 23456789, 34567899, 45678991, 56789912, 67899123, 78991234, 89912345, 99123456, 91234567]),
'EMI amount':pd.Series([10000, 600, 20000,20000,20000,20000, 1200, 4800, 3400, 1800, 8000, 3000, 2400, 9000, 3600, 1600, 1000, 4200, 1400, 6000, 4800, 800, 1400, 3000, 4200, 1800, 2600, 1200, 20000, 1800, 3600, 4200, 3400, 10000, 1400, 1600, 2400, 4800, 8000, 9000, 20000, 2600, 3000, 1600, 3600, 800, 1800, 4800, 1000, 6000, 9000, 4200, 2600, 8000, 4200, 3600, 3000, 1400, 10000, 2400, 1200, 20000, 1800, 9000, 1400, 800, 4800, 6000, 2400, 2600, 1200, 1600, 20000, 3600, 10000, 9000, 8000, 3000, 1400, 6000, 4200, 1200, 1800, 2400, 4800, 1400, 2600, 8000, 20000, 3000, 3600, 10000, 600, 9000, 4200, 1600, 800, 4800, 1200, 1400]),
'mortgageloan':pd.Series(['yes','no','yes','yes','yes','no','no','no','yes','no','yes','no','yes','no','yes','no','yes','yes','yes','yes','no','no','no','yes','yes','no','yes','yes','no','no','yes','yes','no','yes','no','yes','no','yes','no','yes','yes','yes','yes','yes','yes','yes','yes','no','no','no','no','no','no','no','no','yes','yes','yes','yes','yes','yes','yes','yes','yes','no','no','no','yes','yes','yes','no','no','yes','no','yes','no','yes','no','yes','no','yes','no','yes','yes','no','no','yes','no','yes','yes','yes','yes','no','no','no','yes','yes','no','yes', 'yes'])}
df=pd.DataFrame(a)
#print(df)
print(df.info())
print(df.size)
print(df.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 100 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   S.No                              100 non-null    int64
 1   Accountholdername                 100 non-null    object
 2   Accountholderage                  100 non-null    int64
 3   Accountholdergender               100 non-null    object
 4   Maritalstatus                     100 non-null    object
 5   Accountholderphonemunber          100 non-null    int64
 6   Accountholderincome               100 non-null    int64
 7   Accountholderreligion             100 non-null    object
 8   Accountholderadharno              100 non-null    int64
 9   Accountholder qualification       100 non-null    object
 10  Credit_Score                      100 non-null    int64
 11  Account_Balance                   100 non-null    int64
 12  Transaction_Frequency             100 non-null    int64
 13  Credit_Utilization                100 non-null    int64
 14  Loan_Amount                       100 non-null    int64
 15  Savings                           100 non-null    int64
 16  Accountholderaddress              100 non-null    object
 17  Accountnumber                     100 non-null    int64
 18  Accountholderemailid              100 non-null    object
 19  Nomineename                       98 non-null     object
 20  Nomineage                         100 non-null    int64
 21  Nominegender                      100 non-null    object
 22  Nomineadharno                     100 non-null    int64
 23  Nomineaddress                     100 non-null    object
 24  Nomineerelationwithaccountholder  100 non-null    object
 25  Accountregisterednumber           100 non-null    int64
 26  Bankifsccode                      100 non-null    object
 27  Bankbranch                        100 non-null    object
 28  Bankaccounttype                   38 non-null     object
 29  ATMcardnumber                     100 non-null    int64
 30  Date of account joined            100 non-null    int64
 31  Havingcreditcardornot             100 non-null    object
 32  Creditcardnumber                  100 non-null    int64
 33  Creditcardissueyear               100 non-null    int64
 34  Creditcardexpiryyear              100 non-null    int64
 35  Havingdebitcard                   100 non-null    object
 36  Debitcardnumber                   100 non-null    int64
 37  Debitcardissueyear                100 non-null    int64
 38  Debitcardexpiryear                100 non-null    int64
 39  Pancardavailability               100 non-null    object
 40  Last transaction type             3 non-null      object
 41  Vechilesloan                      100 non-null    int64
 42  Goldloan                          100 non-null    int64
 43  Landloan                          100 non-null    int64
 44  Houseloan                         100 non-null    int64
 45  Accountbalance                    100 non-null    int64
 46  Havingfixeddepositornot           100 non-null    object
 47  No.offixeddeposits                100 non-null    int64
 48  Fixeddepositduration              100 non-null    object
 49  Amountinfixeddeposits             100 non-null    int64
 50  Activationstatus                  100 non-null    object
 51  Tenure                            100 non-null    object
 52  JAN2022creditedamount             100 non-null    int64
 53  FEB2022creditedamount             100 non-null    int64
 54  MARCH2022creditedamount           100 non-null    int64
 55  APRIL2022creditedamount           100 non-null    int64
 56  MAY2022creditedamount             100 non-null    int64
 57  JUNE2022creditedamount            100 non-null    int64
 58  JULY2022creditedamount            100 non-null    int64
 59  AUG2022creditedamount             100 non-null    int64
 60  SEP2022creditedamount             100 non-null    int64
 61  OCT2022creditedamount             100 non-null    int64
 62  NOV2022creditedamount             100 non-null    int64
 63  DEC2022creditedamount             100 non-null    int64
 64  JAN2022debitedamount              100 non-null    int64
 65  FEB2022debitedamount              100 non-null    int64
 66  MARCH2022debitedamount            100 non-null    int64
 67  APRIL2022debitedamount            100 non-null    int64
 68  MAY2022debitedamount              100 non-null    int64
 69  JUNE2022debitedamount             100 non-null    int64
 70  JULY2022debitedamount             100 non-null    int64
 71  AUG2022debitedamount              100 non-null    float64
 72  SEP2022debitedamount              100 non-null    float64
 73  OCT2022debitedamount              100 non-null    int64
 74  NOV2022debitedamount              100 non-null    int64
 75  DEC2022debitedamount              100 non-null    int64
 76  JAN2023creditedamount             100 non-null    int64
 77  FEB2023creditedamount             100 non-null    int64
 78  MARCH2023creditedamount           100 non-null    int64
 79  APRIL2023creditedamount           100 non-null    int64
 80  MAY2023creditedamount             100 non-null    int64
 81  JUNE2023creditedamount            100 non-null    int64
 82  JULY2023creditedamount            100 non-null    int64
 83  AUG2023creditedamount             100 non-null    int64
 84  JAN2023debitedamount              100 non-null    int64
 85  FEB2023debitedamount              100 non-null    int64
 86  MARCH2023debitedamount            100 non-null    int64
 87  APRIL2023debitedamount            100 non-null    int64
 88  MAY2023debitedamount              100 non-null    int64
 89  JUNE2023debitedamount             100 non-null    float64
 90  JULY2023debitedamount             100 non-null    int64
 91  AUG2023debitedamount              100 non-null    int64
 92  SMS Subscription                  100 non-null    object
 93  Email Subscription                100 non-null    object
 94  Mobile banking usage              100 non-null    object
 95  E-commerce availability status    100 non-null    object
 96  Aadhar link status                100 non-null    object
 97  customer id                       100 non-null    int64
 98  EMI amount                        100 non-null    int64
 99  mortgageloan                      100 non-null    object
dtypes: float64(3), int64(69), object(28)
memory usage: 78.2+ KB
None
10000
(100, 100)

In [ ]:
import copy
dc =copy.deepcopy(df)
print(dc)

    S.No Accountholdername  Accountholderage Accountholdergender  \
0      1           chandhu                23                   f
1      2            sekhar                24                   f
2      3           sirisha                26                   f
3      4            tulasi                43                   f
4      5               sai                25                   m
..   ...               ...               ...                 ...
95    96              suma                30                   m
96    97          anudeesh                19                   m
97    98              jaya                34                   f
98    99             gowri                26                   m
99   100             naidu                45                   f

   Maritalstatus  Accountholderphonemunber  Accountholderincome  \
0         single                6301476255                25000
1         single                9573573464                30000
2         single                9848810015                35000
3        married                9154504455                40000
4         single                7416128363                45000
..           ...                       ...                  ...
95       married                7799726019                71000
96        single                9059509557                38000
97       married                9052518714                37000
98       married                8096007288                47000
99        single                7601064016                90000

   Accountholderreligion  Accountholderadharno Accountholder qualification  \
0                 hindhu           64852198142                 High School
1                 hindhu           64852198142                       Other
2                 hindhu           64852198143                       Ph.D.
3                 hindhu           64852198144                       Ph.D.
4                 hindhu           64852198145           Bachelor's Degree
..                   ...                   ...                         ...
95                hindhu           64852198236           Bachelor's Degree
96                hindhu           64852198237           Bachelor's Degree
97                hindhu           64852198238           Bachelor's Degree
98                hindhu           64852198239             Master's Degree
99                hindhu           64852198240                 High School

    ...  JULY2023debitedamount  AUG2023debitedamount  SMS Subscription  \
0   ...                   5000                  2000               Yes
1   ...                      0                     0                No
2   ...                   3500                  4500               Yes
3   ...                  22300                265300               Yes
4   ...                  40000                 80000               Yes
..  ...                    ...                   ...               ...
95  ...                   1574                 15040               Yes
96  ...                  13486                134890                No
97  ...                      0                     0               Yes
98  ...                   1527                 15270               Yes
99  ...                   2275                  4688               Yes

    Email Subscription  Mobile banking usage  E-commerce availability status  \
0                  Yes                   Yes                             Yes
1                   No                   Yes                             Yes
2                  Yes                    No                              No
3                   No                    No                             Yes
4                  Yes                   Yes                             Yes
..                 ...                   ...                             ...
95                 Yes                    No                              No
96                  No                    No                             Yes
97                  No                   Yes                              No
98                 Yes                   Yes                             Yes
99                 Yes                   Yes                             Yes

   Aadhar link status  customer id EMI amount mortgageloan
0                 Yes     12345678      10000          yes
1                 Yes     23456789        600           no
2                  No     34567899      20000          yes
3                 Yes     45678921      20000          yes
4                 Yes     56789312      20000          yes
..                ...          ...        ...          ...
95                 No     67899123       1600          yes
96                Yes     78991234        800          yes
97                 No     89912345       4800           no
98                Yes     99123456       1200          yes
99                Yes     91234567       1400          yes

[100 rows x 100 columns]

In [ ]:
print(df.copy())

    S.No Accountholdername  Accountholderage Accountholdergender  \
0      1           chandhu                23                   f
1      2            sekhar                24                   f
2      3           sirisha                26                   f
3      4            tulasi                43                   f
4      5               sai                25                   m
..   ...               ...               ...                 ...
95    96              suma                30                   m
96    97          anudeesh                19                   m
97    98              jaya                34                   f
98    99             gowri                26                   m
99   100             naidu                45                   f

   Maritalstatus  Accountholderphonemunber  Accountholderincome  \
0         single                6301476255                25000
1         single                9573573464                30000
2         single                9848810015                35000
3        married                9154504455                40000
4         single                7416128363                45000
..           ...                       ...                  ...
95       married                7799726019                71000
96        single                9059509557                38000
97       married                9052518714                37000
98       married                8096007288                47000
99        single                7601064016                90000

   Accountholderreligion  Accountholderadharno Accountholder qualification  \
0                 hindhu           64852198142                 High School
1                 hindhu           64852198142                       Other
2                 hindhu           64852198143                       Ph.D.
3                 hindhu           64852198144                       Ph.D.
4                 hindhu           64852198145           Bachelor's Degree
..                   ...                   ...                         ...
95                hindhu           64852198236           Bachelor's Degree
96                hindhu           64852198237           Bachelor's Degree
97                hindhu           64852198238           Bachelor's Degree
98                hindhu           64852198239             Master's Degree
99                hindhu           64852198240                 High School

    ...  JULY2023debitedamount  AUG2023debitedamount  SMS Subscription  \
0   ...                   5000                  2000               Yes
1   ...                      0                     0                No
2   ...                   3500                  4500               Yes
3   ...                  22300                265300               Yes
4   ...                  40000                 80000               Yes
..  ...                    ...                   ...               ...
95  ...                   1574                 15040               Yes
96  ...                  13486                134890                No
97  ...                      0                     0               Yes
98  ...                   1527                 15270               Yes
99  ...                   2275                  4688               Yes

    Email Subscription  Mobile banking usage  E-commerce availability status  \
0                  Yes                   Yes                             Yes
1                   No                   Yes                             Yes
2                  Yes                    No                              No
3                   No                    No                             Yes
4                  Yes                   Yes                             Yes
..                 ...                   ...                             ...
95                 Yes                    No                              No
96                  No                    No                             Yes
97                  No                   Yes                              No
98                 Yes                   Yes                             Yes
99                 Yes                   Yes                             Yes

   Aadhar link status  customer id EMI amount mortgageloan
0                 Yes     12345678      10000          yes
1                 Yes     23456789        600           no
2                  No     34567899      20000          yes
3                 Yes     45678921      20000          yes
4                 Yes     56789312      20000          yes
..                ...          ...        ...          ...
95                 No     67899123       1600          yes
96                Yes     78991234        800          yes
97                 No     89912345       4800           no
98                Yes     99123456       1200          yes
99                Yes     91234567       1400          yes

[100 rows x 100 columns]

In [ ]:
print(dc.size)

10000

In [ ]:
print(dc.shape)

(100, 100)

In [ ]:
print(dc.info)

<bound method DataFrame.info of     S.No Accountholdername  Accountholderage Accountholdergender  \
0      1           chandhu                23                   f
1      2            sekhar                24                   f
2      3           sirisha                26                   f
3      4            tulasi                43                   f
4      5               sai                25                   m
..   ...               ...               ...                 ...
95    96              suma                30                   m
96    97          anudeesh                19                   m
97    98              jaya                34                   f
98    99             gowri                26                   m
99   100             naidu                45                   f

   Maritalstatus  Accountholderphonemunber  Accountholderincome  \
0         single                6301476255                25000
1         single                9573573464                30000
2         single                9848810015                35000
3        married                9154504455                40000
4         single                7416128363                45000
..           ...                       ...                  ...
95       married                7799726019                71000
96        single                9059509557                38000
97       married                9052518714                37000
98       married                8096007288                47000
99        single                7601064016                90000

   Accountholderreligion  Accountholderadharno Accountholder qualification  \
0                 hindhu           64852198142                 High School
1                 hindhu           64852198142                       Other
2                 hindhu           64852198143                       Ph.D.
3                 hindhu           64852198144                       Ph.D.
4                 hindhu           64852198145           Bachelor's Degree
..                   ...                   ...                         ...
95                hindhu           64852198236           Bachelor's Degree
96                hindhu           64852198237           Bachelor's Degree
97                hindhu           64852198238           Bachelor's Degree
98                hindhu           64852198239             Master's Degree
99                hindhu           64852198240                 High School

    ...  JULY2023debitedamount  AUG2023debitedamount  SMS Subscription  \
0   ...                   5000                  2000               Yes
1   ...                      0                     0                No
2   ...                   3500                  4500               Yes
3   ...                  22300                265300               Yes
4   ...                  40000                 80000               Yes
..  ...                    ...                   ...               ...
95  ...                   1574                 15040               Yes
96  ...                  13486                134890                No
97  ...                      0                     0               Yes
98  ...                   1527                 15270               Yes
99  ...                   2275                  4688               Yes

    Email Subscription  Mobile banking usage  E-commerce availability status  \
0                  Yes                   Yes                             Yes
1                   No                   Yes                             Yes
2                  Yes                    No                              No
3                   No                    No                             Yes
4                  Yes                   Yes                             Yes
..                 ...                   ...                             ...
95                 Yes                    No                              No
96                  No                    No                             Yes
97                  No                   Yes                              No
98                 Yes                   Yes                             Yes
99                 Yes                   Yes                             Yes

   Aadhar link status  customer id EMI amount mortgageloan
0                 Yes     12345678      10000          yes
1                 Yes     23456789        600           no
2                  No     34567899      20000          yes
3                 Yes     45678921      20000          yes
4                 Yes     56789312      20000          yes
..                ...          ...        ...          ...
95                 No     67899123       1600          yes
96                Yes     78991234        800          yes
97                 No     89912345       4800           no
98                Yes     99123456       1200          yes
99                Yes     91234567       1400          yes

[100 rows x 100 columns]>

In [ ]:
print(dc.index)

RangeIndex(start=0, stop=100, step=1)

In [ ]:
print(dc.memory_usage())

Index                             128
S.No                              800
Accountholdername                 800
Accountholderage                  800
Accountholdergender               800
                                 ...
E-commerce availability status    800
Aadhar link status                800
customer id                       800
EMI amount                        800
mortgageloan                      800
Length: 101, dtype: int64

In [ ]:
print(df.ndim)

2

In [ ]:
df.loc[1]

S.No                                     2
Accountholdername                   sekhar
Accountholderage                        24
Accountholdergender                      f
Maritalstatus                       single
                                    ...
E-commerce availability status         Yes
Aadhar link status                     Yes
customer id                       23456789
EMI amount                             600
mortgageloan                            no
Name: 1, Length: 100, dtype: object

In [ ]:
print(dc.drop(2))

    S.No Accountholdername  Accountholderage Accountholdergender  \
0      1           chandhu                23                   f
1      2            sekhar                24                   f
3      4            tulasi                43                   f
4      5               sai                25                   m
5      6             aruna                33                   f
..   ...               ...               ...                 ...
95    96              suma                30                   m
96    97          anudeesh                19                   m
97    98              jaya                34                   f
98    99             gowri                26                   m
99   100             naidu                45                   f

   Maritalstatus  Accountholderphonemunber  Accountholderincome  \
0         single                6301476255                25000
1         single                9573573464                30000
3        married                9154504455                40000
4         single                7416128363                45000
5        married                9381704904                24000
..           ...                       ...                  ...
95       married                7799726019                71000
96        single                9059509557                38000
97       married                9052518714                37000
98       married                8096007288                47000
99        single                7601064016                90000

   Accountholderreligion  Accountholderadharno Accountholder qualification  \
0                 hindhu           64852198142                 High School
1                 hindhu           64852198142                       Other
3                 hindhu           64852198144                       Ph.D.
4                 hindhu           64852198145           Bachelor's Degree
5                 hindhu           64852198146                 High School
..                   ...                   ...                         ...
95                hindhu           64852198236           Bachelor's Degree
96                hindhu           64852198237           Bachelor's Degree
97                hindhu           64852198238           Bachelor's Degree
98                hindhu           64852198239             Master's Degree
99                hindhu           64852198240                 High School

    ...  JULY2023debitedamount  AUG2023debitedamount  SMS Subscription  \
0   ...                   5000                  2000               Yes
1   ...                      0                     0                No
3   ...                  22300                265300               Yes
4   ...                  40000                 80000               Yes
5   ...                      0                     0                No
..  ...                    ...                   ...               ...
95  ...                   1574                 15040               Yes
96  ...                  13486                134890                No
97  ...                      0                     0               Yes
98  ...                   1527                 15270               Yes
99  ...                   2275                  4688               Yes

    Email Subscription  Mobile banking usage  E-commerce availability status  \
0                  Yes                   Yes                             Yes
1                   No                   Yes                             Yes
3                   No                    No                             Yes
4                  Yes                   Yes                             Yes
5                   No                    No                             Yes
..                 ...                   ...                             ...
95                 Yes                    No                              No
96                  No                    No                             Yes
97                  No                   Yes                              No
98                 Yes                   Yes                             Yes
99                 Yes                   Yes                             Yes

   Aadhar link status  customer id EMI amount mortgageloan
0                 Yes     12345678      10000          yes
1                 Yes     23456789        600           no
3                 Yes     45678921      20000          yes
4                 Yes     56789312      20000          yes
5                 Yes     67894123      20000           no
..                ...          ...        ...          ...
95                 No     67899123       1600          yes
96                Yes     78991234        800          yes
97                 No     89912345       4800           no
98                Yes     99123456       1200          yes
99                Yes     91234567       1400          yes

[99 rows x 100 columns]

In [ ]:
col=df['Accountholdername']
print(col)

0      chandhu
1       sekhar
2      sirisha
3       tulasi
4          sai
        ...
95        suma
96    anudeesh
97        jaya
98       gowri
99       naidu
Name: Accountholdername, Length: 100, dtype: object